# NewYork Taxi Dynamics

In [6]:
from IPython.display import HTML
from IPython.display import Image
Image(url = "https://media.gettyimages.com/photos/big-line-of-yellow-taxis-in-new-york-city-picture-id157480155?s=1024x1024")

# Background

In New York City, taxicabs come in two varieties: yellow and green; they are widely recognizable symbols of the city. Taxis painted yellow (medallion taxis) are able to pick up passengers anywhere in the five boroughs. Those painted apple green (street hail livery vehicles, commonly known as "boro taxis"), which began to appear in August 2013, are allowed to pick up passengers in Upper Manhattan, the Bronx, Brooklyn, Queens (excluding LaGuardia Airport and John F. Kennedy International Airport), and Staten Island. Both types have the same fare structure. Taxicabs are operated by private companies and licensed by the New York City Taxi and Limousine Commission (TLC).

Taxicab vehicles, each of which must have a medallion to operate, are driven an average of 180 miles per shift. As of March 14, 2014, there were 51,398 individuals licensed to drive medallion taxicabs. There were 13,605 taxicab medallion licenses in existence. By July 2016, that number had dropped slightly to 13,587 medallions, or 18 lower than the 2014 total. Taxi patronage has declined since 2011 due to competition from rideshare services.

## Problem

One of the biggest challenges in taxicab business is to maintain high fleet
cabs and day to day challenge of placing the Taxis. If the Taxi is mobilized at low demand area
or placing Taxis near office areas during public holidays will result in lost opportunity at high
demand place and loss in revenue.

# Abstract

The main aim is to provide an analysis of the
characteristic yellow taxicabs in New York
based on the pickup data available through
their website. From the available data, this
project looks for insights on cab allocation per
location, the cab demand data and forecasts.


Source: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

The yellow trip records include fields capturing pick-up and drop-off dates/times, pick-up and drop-off locations, trip distances, itemized fares, rate types, payment types, and driver-reported passenger counts.

The analysis include:
1. Demand prediction
2. Revenue prediction
3. Cab pooling

### Demand prediction
1. Response Variable: CabRequest
2. Independent variables: Zone, Service Zones, Date, Hour, Pickuptime
3. Model used: Linear regression

  
### Revenue prediction
1. Response Variable: FareAmount
2. Independent variables: Zone, Service Zones, Date, Hour, Pickuptime
3. Model used: Random forest regressor regression

### Cab pooling
Model used: K-Means clustering

## Data Cleaning

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import statsmodels.api as sm
from sklearn import linear_model
from statsmodels.formula.api import ols
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_squared_log_error
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import preprocessing
from pylab import rcParams
from scipy.stats import spearmanr
from statsmodels.stats.outliers_influence import variance_inflation_factor
from pandas import *

#### Loading the dataset
#### Considering only January month data

In [57]:
from pandas import *

tp = read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-01.csv', iterator=True, chunksize=500)
df1 = concat(tp, ignore_index=True)

In [20]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55

#### Loading the lookup dataset

In [2]:
df_lookup=pd.read_csv("C:/Users/kelvi/lookup.csv", delimiter=',')
df_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

#### Merging the lookup data and cab trip data using inner join on LocationID and PULocationID

In [91]:
df_Jan=pd.merge(df_lookup,df1, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

#### Splitting the trip pickup_time into respective date, hour and time

In [92]:
df_Jan['Time'] = pd.to_datetime(df.tpep_pickup_datetime)

In [93]:
df_Jan['hour']=df_Jan.Time.dt.hour

In [94]:
df_Jan['date']=df_Jan.Time.dt.date

#### Concatenating date and hour column

In [95]:
df_Jan['PickupTime']= df_Jan['date'].map(str) +" " +df_Jan['hour'].map(str)

#### Dropping the insignificant columns

In [96]:
df_Jan.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.01,N,1,85.00,0.0,0.5,14.00,0.00,0.3,99.80,2018-01-01 3
1,1,Newark Airport,EWR,1,0.00,N,1,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-01-01 4
2,1,Newark Airport,EWR,4,0.00,N,1,80.00,0.0,0.5,0.00,0.00,0.3,80.80,2018-01-01 4
3,1,Newark Airport,EWR,7,0.00,N,1,70.00,0.0,0.0,5.00,0.00,0.3,75.30,2018-01-01 4
4,1,Newark Airport,EWR,1,0.01,N,1,52.00,0.0,0.5,42.00,0.00,0.3,94.80,2018-01-01 6
5,1,Newark Airport,EWR,1,25.20,N,2,69.50,0.0,0.5,0.00,12.50,0.3,82.80,2018-01-01 7
6,1,Newark Airport,EWR,0,0.00,N,1,70.00,0.0,0.0,14.06,0.00,0.3,84.36,2018-01-01 8
7,1,Newark Airport,EWR,1,0.02,N,3,-2.50,0.0,-0.5,0.00,0.00,-0.3,-3.30,2018-01-01 8
8,1,Newark Airport,EWR,1,0.02,N,2,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2018-01-01 8
9,1,Newark Airport,EWR,2,0.00,N,1,75.00,0.0,0.0,18.66,18.00,0.3,111.96,2018-01-01 9
10,1,Newark Airport,EWR,1,0.00,N,2,96.00,0.0,0.0,0.00,0.00,0.3,96.30,2018-01-01 10
11,1,Newark Airport,EWR,1,0.00,N,1,79.00,0.0,0.0,19.26,17.00,0.3,115.56,2018-01-01 10
12,1,Newark Airport,EWR,1,39.20,N,1,128.00,0.0,0.0,0.00,14.00,0.3,142.30,2018-01-01 11
13,1,Newark Airport,EWR,5,0.00,N,1,95.00,0.0,0.5,19.16,0.00,0.3,114.96,2018-01-01 11
14,1,Newark Airport,EWR,3,8.10,N,1,96.00,0.0,0.0,20.00,15.00,0.3,131.30,2018-01-01 12
15,1,Newark Airport,EWR,3,0.00,N,1,95.00,0.0,0.0,16.00,0.00,0.3,111.30,2018-01-01 12
16,1,Newark Airport,EWR,2,0.00,N,3,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-01-01 12
17,1,Newark Airport,EWR,2,0.00,N,1,25.00,0.0,0.0,7.55,0.00,0.3,32.85,2018-01-01 12
18,1,Newark Airport,EWR,2,0.00,N,2,97.00,0.0,0.0,0.00,0.00,0.3,97.30,2018-01-01 12
19,1,Newark Airport,EWR,1,0.00,N,3,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-01-01 13
20,1,Newark Airport,EWR,1,0.00,N,3,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-01-01 13
21,1,Newark Airport,EWR,1,0.00,N,3,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-01-01 13
22,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,0.00,16.00,0.3,96.30,2018-01-01 14
23,1,Newark Airport,EWR,2,0.00,N,1,96.70,0.0,0.0,19.40,0.00,0.3,116.40,2018-01-01 14
24,1,Newark Airport,EWR,3,14.70,N,1,64.20,0.0,0.0,3.00,10.50,0.3,78.00,2018-01-01 14
25,1,Newark Airport,EWR,1,0.00,N,1,78.50,0.0,0.0,8.00,0.00,0.3,86.80,2018-01-01 14
26,1,Newark Airport,EWR,3,0.00,N,4,90.00,0.0,0.0,0.00,10.50,0.3,100.80,2018-01-01 14
27,1,Newark Airport,EWR,3,0.00,N,1,90.00,0.0,0.0,5.00,10.50,0.3,105.80,2018-01-01 14
28,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.5,5.50,0.00,0.3,86.30,2018-01-01 15
29,1,Newark Airport,EWR,1,0.00,N,1,93.00,0.0,0.0,0.00,0.00,0.3,93.30,2018-01-01 15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8759844,265,NaN,NaN,2,4.50,N,1,55.50,0.0,0.0,10.00,0.00,0.3,65.80,2018-01-31 21
8759845,265,NaN,NaN,1,0.00,N,1,165.00,0.0,0.0,0.00,0.00,0.3,165.30,2018-01-31 21
8759846,265,NaN,NaN,0,0.00,N,1,118.00,0.0,0.0,23.65,0.00,0.3,141.95,2018-01-31 21
8759847,265,NaN,NaN,1,0.00,N,1,95.00,0.0,0.0,21.16,10.50,0.3,126.96,2018-01-31 21
8759848,265,NaN,NaN,1,0.01,N,1,100.00,0.0,0.5,20.00,10.50,0.3,131.30,2018-01-31 22
8759849,265,NaN,NaN,1,0.00,N,1,65.00,0.0,0.5,0.00,0.00,0.3,65.80,2018-01-31 22
8759850,265,NaN,NaN,1,0.00,N,1,66.50,0.0,0.0,13.36,0.00,0.3,80.16,2018-01-31 22
8759851,265,NaN,NaN,1,0.90,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-01-31 22
8759852,265,NaN,NaN,2,0.00,N,2,57.00,0.0,0.0,0.00,0.00,0.3,57.30,2018-01-31 22
8759853,265,NaN,NaN,1,0.00,N,1,62.50,0.0,0.5,5.00,0.00,0.3,68.30,2018-01-31 22
8759854,265,NaN,NaN,1,19.10,N,1,119.00,0.0,0.0,15.00,8.00,0.3,142.30,2018-01-31 22
8759855,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,12.16,10.50,0.3,72.96,2018-01-31 22
8759856,265,NaN,NaN,3,0.00,N,1,264.00,0.0,0.0,0.00,0.00,0.3,264.30,2018-01-31 22
8759857,265,NaN,NaN,1,3.80,N,2,90.00,0.0,0.0,0.00,0.00,0.3,90.30,2018-01-31 22
8759858,265,NaN,NaN,1,0.00,N,1,70.00,0.0,0.5,5.00,10.50,0.3,86.30,2018-01-31 22
8759859,265,NaN,NaN,1,0.00,N,1,35.00,0.0,0.0,2.00,0.00,0.3,37.30,2018-01-31 23
8759860,265,NaN,NaN,5,0.00,N,1,2.50,0.5,0.5,15.00,0.00,0.3,18.80,2018-01-31 23
8759861,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-01-31 23
8759862,265,NaN,NaN,1,0.00,N,1,45.00,0.0,0.5,4.20,0.00,0.3,50.00,2018-01-31 23
8759863,265,NaN,NaN,1,0.00,N,1,150.00,0.0,0.0,25.00,5.76,0.3,181.06,2018-01-31 23
8759864,265,NaN,NaN,1,1.76,N,1,55.00,0.0,0.0,13.16,10.50,0.3,78.96,2018-01-31 23
8759865,265,NaN,NaN,1,3.03,N,1,50.00,0.0,0.0,15.20,10.50,0.3,76.00,2018-01-31 23
8759866,265,NaN,NaN,2,0.00,N,1,55.55,0.0,0.0,11.15,0.00,0.3,67.00,2018-01-31 23
8759867,265,NaN,NaN,1,14.50,Y,1,51.00,0.0,0.0,0.00,0.00,0.3,51.30,2018-01-31 23
8759868,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,15.05,0.00,0.3,65.35,2018-01-31 23
8759869,265,NaN,NaN,1,3.60,N,1,44.70,0.0,0.5,9.10,0.00,0.3,54.60,2018-01-31 23
8759870,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-01-31 23
8759871,265,NaN,NaN,1,23.90,N,2,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-01-31 23
8759872,265,NaN,NaN,1,23.90,N,1,155.00,0.0,0.0,15.00,0.00,0.3,170.30,2018-01-31 23
8759873,265,NaN,NaN,1,0.00,N,1,160.00,0.0,0.5,0.00,0.00,0.3,160.80,2018-01-31 23

In [69]:
#df['name_match'] = df['Zone'].apply(lambda x: 'True' if x == 'NaN')
df10 = df_Jan[df_Jan.isnull().any(axis=1)]

print (df10['LocationID'].unique())

[264 265]

In [29]:
df_Jan.head()

,LocationID,Borough,Zone,service_zone,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Time,hour,date,PickupTime
0,1,EWR,Newark Airport,EWR,2,2018-01-01 03:24:25,2018-01-01 03:24:30,1,0.01,5,...,0.0,0.5,14.0,0.0,0.3,99.8,2018-01-01 03:24:25,3,2018-01-01,2018-01-01 3
1,1,EWR,Newark Airport,EWR,2,2018-01-01 04:56:14,2018-01-01 04:56:17,1,0.00,5,...,0.0,0.0,0.0,0.0,0.3,20.3,2018-01-01 04:56:14,4,2018-01-01,2018-01-01 4
2,1,EWR,Newark Airport,EWR,2,2018-01-01 04:19:34,2018-01-01 04:19:40,4,0.00,5,...,0.0,0.5,0.0,0.0,0.3,80.8,2018-01-01 04:19:34,4,2018-01-01,2018-01-01 4
3,1,EWR,Newark Airport,EWR,2,2018-01-01 04:49:22,2018-01-01 04:49:28,7,0.00,5,...,0.0,0.0,5.0,0.0,0.3,75.3,2018-01-01 04:49:22,4,2018-01-01,2018-01-01 4
4,1,EWR,Newark Airport,EWR,2,2018-01-01 06:18:35,2018-01-01 06:20:21,1,0.01,2,...,0.0,0.5,42.0,0.0,0.3,94.8,2018-01-01 06:18:35,6,2018-01-01,2018-01-01 6

#### Creating  a new column cab request and assigning its value as 1

In [73]:

df_Jan['CabRequest']=1

In [74]:
df_Jan.head()

,LocationID,Borough,Zone,service_zone,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Time,hour,date,PickupTime,CabRequest
0,1,EWR,Newark Airport,EWR,2,2018-01-01 03:24:25,2018-01-01 03:24:30,1,0.01,5,...,0.5,14.0,0.0,0.3,99.8,2018-01-01 03:24:25,3,2018-01-01,2018-01-01 3,1
1,1,EWR,Newark Airport,EWR,2,2018-01-01 04:56:14,2018-01-01 04:56:17,1,0.00,5,...,0.0,0.0,0.0,0.3,20.3,2018-01-01 04:56:14,4,2018-01-01,2018-01-01 4,1
2,1,EWR,Newark Airport,EWR,2,2018-01-01 04:19:34,2018-01-01 04:19:40,4,0.00,5,...,0.5,0.0,0.0,0.3,80.8,2018-01-01 04:19:34,4,2018-01-01,2018-01-01 4,1
3,1,EWR,Newark Airport,EWR,2,2018-01-01 04:49:22,2018-01-01 04:49:28,7,0.00,5,...,0.0,5.0,0.0,0.3,75.3,2018-01-01 04:49:22,4,2018-01-01,2018-01-01 4,1
4,1,EWR,Newark Airport,EWR,2,2018-01-01 06:18:35,2018-01-01 06:20:21,1,0.01,2,...,0.5,42.0,0.0,0.3,94.8,2018-01-01 06:18:35,6,2018-01-01,2018-01-01 6,1

#### Grouping by zone, pickupTime and service_zone and aggregating the cab request and total amount for further analysis

In [87]:
summaries = df.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries)

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-01-01 0  Boro Zone              1         23.30
                        2018-01-01 1  Boro Zone              1         23.80
                        2018-01-02 10 Boro Zone              1         27.80
                        2018-01-03 22 Boro Zone              1          9.30
                        2018-01-03 7  Boro Zone              1         10.30
                        2018-01-04 1  Boro Zone              1          9.30
                        2018-01-04 7  Boro Zone              1          7.80
                        2018-01-06 8  Boro Zone              1         11.30
                        2018-01-10 15 Boro Zone              1         19.80
                        2018-01-10 21 Boro Zone              1         24.80
                        2018-01-10 9  Boro Zone              1         11.27
                        2018-01-13 1  Boro Zone              1         20.30
                        2018-01-13 13 Boro Zone              1         16.80
                        2018-01-14 13 Boro Zone              1          7.30
                        2018-01-15 4  Boro Zone              1          9.30
                        2018-01-16 16 Boro Zone              1         12.30
                        2018-01-17 10 Boro Zone              1         18.17
                        2018-01-17 23 Boro Zone              1          4.30
                        2018-01-18 16 Boro Zone              1         14.72
                        2018-01-18 6  Boro Zone              1         17.30
                        2018-01-22 14 Boro Zone              1         17.60
                        2018-01-23 2  Boro Zone              1         17.25
                        2018-01-24 0  Boro Zone              1         52.00
                        2018-01-24 12 Boro Zone              1         27.80
                        2018-01-24 16 Boro Zone              1         34.85
                        2018-01-24 23 Boro Zone              1          8.19
                        2018-01-25 10 Boro Zone              1          8.80
                        2018-01-26 20 Boro Zone              1          4.80
                        2018-01-26 9  Boro Zone              1         12.30
                        2018-01-27 14 Boro Zone              1         55.06
...                                                        ...           ...
Yorkville West          2018-01-30 4  Yellow Zone           22        402.16
                        2018-01-30 5  Yellow Zone           76       1155.36
                        2018-01-30 6  Yellow Zone          265       3143.46
                        2018-01-30 7  Yellow Zone          335       4267.55
                        2018-01-30 8  Yellow Zone          407       5435.85
                        2018-01-30 9  Yellow Zone          348       4795.36
                        2018-01-31 0  Yellow Zone           66        708.68
                        2018-01-31 1  Yellow Zone           39        475.18
                        2018-01-31 10 Yellow Zone          283       3654.81
                        2018-01-31 11 Yellow Zone          240       2900.83
                        2018-01-31 12 Yellow Zone          255       2961.19
                        2018-01-31 13 Yellow Zone          271       3401.20
                        2018-01-31 14 Yellow Zone          310       3558.96
                        2018-01-31 15 Yellow Zone          334       3896.45
                        2018-01-31 16 Yellow Zone          256       2977.32
                        2018-01-31 17 Yellow Zone          312       3720.35
                        2018-01-31 18 Yellow Zone          348       4036.59
                        2018-01-31 19 Yellow Zone          321       3818.73
                        2018-01-31 2  Yellow Zone           30        356.00
                        2018-01-31 20 Yellow Zone          248       2861.00
                        2018-01-31 21 Yellow Zone          310       3613.24
                        2018-01-31 22 Yellow Zone          223       2754.97
                        2018-01-31 23 Yellow Zone          103       1451.43
                        2018-01-31 3  Yellow Zone           28        311.26
                        2018-01-31 4  Yellow Zone           37        760.16
                        2018-01-31 5  Yellow Zone           93       1322.12
                        2018-01-31 6  Yellow Zone          238       2911.41
                        2018-01-31 7  Yellow Zone          341       4396.19
                        2018-01-31 8  Yellow Zone          407       5889.04
                        2018-01-31 9  Yellow Zone          366       4921.10

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-01-01 0  Boro Zone           0.00
                        2018-01-01 1  Boro Zone           0.00
                        2018-01-02 10 Boro Zone           0.00
                        2018-01-03 22 Boro Zone           0.00
                        2018-01-03 7  Boro Zone           0.00
                        2018-01-04 1  Boro Zone           0.00
                        2018-01-04 7  Boro Zone           0.00
                        2018-01-06 8  Boro Zone           0.00
                        2018-01-10 15 Boro Zone           0.00
                        2018-01-10 21 Boro Zone           0.00
                        2018-01-10 9  Boro Zone           1.47
                        2018-01-13 1  Boro Zone           0.00
                        2018-01-13 13 Boro Zone           0.00
                        2018-01-14 13 Boro Zone           0.00
                        2018-01-15 4  Boro Zone           0.00
                        2018-01-16 16 Boro Zone           0.00
                        2018-01-17 10 Boro Zone           2.37
                        2018-01-17 23 Boro Zone           0.00
                        2018-01-18 16 Boro Zone           1.92
                        2018-01-18 6  Boro Zone           0.00
                        2018-01-22 14 Boro Zone           2.30
                        2018-01-23 2  Boro Zone           3.95
                        2018-01-24 0  Boro Zone           4.70
                        2018-01-24 12 Boro Zone           0.00
                        2018-01-24 16 Boro Zone           4.55
                        2018-01-24 23 Boro Zone           1.89
                        2018-01-25 10 Boro Zone           0.00
                        2018-01-26 20 Boro Zone           0.00
                        2018-01-26 9  Boro Zone           0.00
                        2018-01-27 14 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-01-30 4  Yellow Zone        47.02
                        2018-01-30 5  Yellow Zone       152.24
                        2018-01-30 6  Yellow Zone       387.37
                        2018-01-30 7  Yellow Zone       565.76
                        2018-01-30 8  Yellow Zone       658.26
                        2018-01-30 9  Yellow Zone       569.97
                        2018-01-31 0  Yellow Zone        76.93
                        2018-01-31 1  Yellow Zone        44.48
                        2018-01-31 10 Yellow Zone       452.61
                        2018-01-31 11 Yellow Zone       341.61
                        2018-01-31 12 Yellow Zone       346.15
                        2018-01-31 13 Yellow Zone       342.88
                        2018-01-31 14 Yellow Zone       390.58
                        2018-01-31 15 Yellow Zone       432.45
                        2018-01-31 16 Yellow Zone       339.74
                        2018-01-31 17 Yellow Zone       406.86
                        2018-01-31 18 Yellow Zone       479.58
                        2018-01-31 19 Yellow Zone       467.01
                        2018-01-31 2  Yellow Zone        31.00
                        2018-01-31 20 Yellow Zone       341.85
                        2018-01-31 21 Yellow Zone       425.24
                        2018-01-31 22 Yellow Zone       333.31
                        2018-01-31 23 Yellow Zone       154.53
                        2018-01-31 3  Yellow Zone        27.36
                        2018-01-31 4  Yellow Zone        69.03
                        2018-01-31 5  Yellow Zone       183.62
                        2018-01-31 6  Yellow Zone       373.15
                        2018-01-31 7  Yellow Zone       545.86
                        2018-01-31 8  Yellow Zone       781.73
                        2018-01-31 9  Yellow Zone       629.77

[86748 rows x 3 columns]

#### Exporting the above values to an excel file

In [85]:
summaries.to_csv('Combined_Jan2018.csv')

In [86]:
summaries.head()

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-01-01 0  Boro Zone              1          23.3
                        2018-01-01 1  Boro Zone              1          23.8
                        2018-01-02 10 Boro Zone              1          27.8
                        2018-01-03 22 Boro Zone              1           9.3
                        2018-01-03 7  Boro Zone              1          10.3

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-01-01 0  Boro Zone            0.0
                        2018-01-01 1  Boro Zone            0.0
                        2018-01-02 10 Boro Zone            0.0
                        2018-01-03 22 Boro Zone            0.0
                        2018-01-03 7  Boro Zone            0.0

### Summaries dataset has all the required variables for further prediction
#### Hence we are using the same dataset for further analysis

## Repeating the above data cleaning methodology for rest of the months

In [2]:
tp1 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-02.csv', iterator=True, chunksize=1000)
df2 = pd.concat(tp1, ignore_index=True)

In [5]:
df_feb=pd.merge(df_lookup,df2, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [7]:
df_feb['Time'] = pd.to_datetime(df_feb.tpep_pickup_datetime)
df_feb['hour']=df_feb.Time.dt.hour
df_feb['date']=df_feb.Time.dt.date

In [8]:
df_feb['PickupTime']= df_feb['date'].map(str) +" " +df_feb['hour'].map(str)

In [9]:
df_feb.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.00,N,1,109.00,0.0,0.0,0.00,0.00,0.3,109.30,2018-02-01 6
1,1,Newark Airport,EWR,1,0.00,N,1,105.00,0.0,0.5,21.16,0.00,0.3,126.96,2018-02-01 7
2,1,Newark Airport,EWR,1,0.00,N,1,100.00,0.0,0.5,25.16,25.00,0.3,150.96,2018-02-01 11
3,1,Newark Airport,EWR,1,0.70,N,1,77.00,0.0,0.0,15.00,16.00,0.3,108.30,2018-02-01 12
4,1,Newark Airport,EWR,1,0.00,N,2,0.00,0.0,0.0,0.00,0.00,0.0,0.00,2018-02-01 14
5,1,Newark Airport,EWR,1,0.00,N,1,60.00,0.0,0.5,0.01,0.00,0.3,60.81,2018-02-01 14
6,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.5,10.00,0.00,0.3,105.80,2018-02-01 14
7,1,Newark Airport,EWR,1,0.00,N,1,117.30,0.0,0.0,10.00,0.00,0.3,127.60,2018-02-01 16
8,1,Newark Airport,EWR,1,0.03,N,1,114.00,0.0,0.0,28.58,0.00,0.3,142.88,2018-02-01 16
9,1,Newark Airport,EWR,1,0.00,N,1,52.00,4.5,0.5,17.45,12.50,0.3,87.25,2018-02-01 16
10,1,Newark Airport,EWR,1,0.00,N,1,106.00,0.0,0.5,21.36,0.00,0.3,128.16,2018-02-01 16
11,1,Newark Airport,EWR,1,0.00,N,4,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-02-01 16
12,1,Newark Airport,EWR,1,0.00,N,1,84.00,0.0,0.0,10.00,0.00,0.3,94.30,2018-02-01 16
13,1,Newark Airport,EWR,1,0.00,N,1,60.00,0.0,0.5,0.00,14.00,0.3,74.80,2018-02-01 17
14,1,Newark Airport,EWR,6,16.38,N,1,60.50,1.0,0.0,10.00,17.50,0.3,89.30,2018-02-01 17
15,1,Newark Airport,EWR,1,0.00,N,1,118.00,0.0,0.0,20.00,0.00,0.3,138.30,2018-02-01 17
16,1,Newark Airport,EWR,1,0.00,N,1,96.00,0.0,0.0,21.76,12.50,0.3,130.56,2018-02-01 13
17,1,Newark Airport,EWR,0,14.50,N,1,92.00,0.0,0.0,10.00,12.50,0.3,114.80,2018-02-01 18
18,1,Newark Airport,EWR,1,0.00,N,1,105.00,0.0,0.0,0.00,0.00,0.3,105.30,2018-02-01 19
19,1,Newark Airport,EWR,1,0.00,N,2,90.00,0.0,0.5,0.00,0.00,0.3,90.80,2018-02-01 20
20,1,Newark Airport,EWR,1,0.00,N,1,145.00,0.0,0.5,0.00,0.00,0.3,145.80,2018-02-01 21
21,1,Newark Airport,EWR,1,0.80,N,1,80.00,0.0,0.0,4.00,0.00,0.3,84.30,2018-02-02 4
22,1,Newark Airport,EWR,2,17.70,N,1,120.00,0.0,0.0,0.00,0.00,0.3,120.30,2018-02-02 4
23,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.0,19.05,0.00,0.3,114.35,2018-02-02 7
24,1,Newark Airport,EWR,1,0.00,N,2,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-02-02 7
25,1,Newark Airport,EWR,1,0.00,N,2,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-02-02 7
26,1,Newark Airport,EWR,1,0.00,N,2,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-02-02 7
27,1,Newark Airport,EWR,1,0.00,N,1,89.00,0.0,0.0,22.30,0.00,0.3,111.60,2018-02-02 7
28,1,Newark Airport,EWR,1,0.00,N,1,110.00,0.0,0.5,26.16,20.00,0.3,156.96,2018-02-02 10
29,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.0,10.00,0.00,0.3,105.30,2018-02-02 11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8492046,265,NaN,NaN,1,0.00,N,1,89.00,0.0,0.0,0.00,0.00,0.3,89.30,2018-02-28 19
8492047,265,NaN,NaN,1,0.00,N,1,90.80,0.0,0.5,0.00,0.00,0.3,91.60,2018-02-28 18
8492048,265,NaN,NaN,1,9.80,N,1,60.00,0.0,0.0,2.00,0.00,0.3,62.30,2018-02-28 20
8492049,265,NaN,NaN,1,10.90,N,1,216.00,0.0,0.0,54.05,0.00,0.3,270.35,2018-02-28 20
8492050,265,NaN,NaN,1,21.50,N,1,52.00,0.0,0.5,10.55,0.00,0.3,63.35,2018-02-28 20
8492051,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-02-28 20
8492052,265,NaN,NaN,1,23.90,N,2,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2018-02-28 21
8492053,265,NaN,NaN,1,0.00,N,1,142.00,0.0,0.0,12.00,0.00,0.3,154.30,2018-02-28 21
8492054,265,NaN,NaN,1,0.55,N,1,160.00,0.0,0.5,0.00,0.00,0.3,160.80,2018-02-28 21
8492055,265,NaN,NaN,1,0.30,N,1,52.00,0.0,0.5,11.75,6.00,0.3,70.55,2018-02-28 21
8492056,265,NaN,NaN,1,0.00,N,1,97.85,0.0,0.0,24.50,0.00,0.3,122.65,2018-02-28 21
8492057,265,NaN,NaN,1,9.60,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-02-28 21
8492058,265,NaN,NaN,4,9.60,N,1,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-02-28 21
8492059,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.5,11.00,0.00,0.3,61.80,2018-02-28 22
8492060,265,NaN,NaN,1,0.00,N,1,145.00,0.0,0.0,10.00,10.50,0.3,165.80,2018-02-28 22
8492061,265,NaN,NaN,4,9.60,N,1,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-02-28 22
8492062,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.0,0.00,0.00,0.3,120.30,2018-02-28 22
8492063,265,NaN,NaN,1,24.70,Y,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-02-28 22
8492064,265,NaN,NaN,1,24.70,Y,3,125.00,0.0,0.0,0.00,0.00,0.3,125.30,2018-02-28 22
8492065,265,NaN,NaN,1,0.00,Y,2,125.00,0.0,0.0,0.00,0.00,0.3,125.30,2018-02-28 22
8492066,265,NaN,NaN,1,0.00,N,1,75.00,0.0,0.0,0.00,0.00,0.3,75.30,2018-02-28 22
8492067,265,NaN,NaN,1,0.00,N,1,67.00,0.0,0.0,0.00,0.00,0.3,67.30,2018-02-28 23
8492068,265,NaN,NaN,1,0.00,N,2,120.00,0.0,0.5,0.00,0.00,0.3,120.80,2018-02-28 23
8492069,265,NaN,NaN,2,0.00,N,1,85.00,0.0,0.5,0.00,0.00,0.3,85.80,2018-02-28 23
8492070,265,NaN,NaN,1,2.20,N,1,55.00,0.0,0.0,0.00,0.00,0.3,55.30,2018-02-28 23
8492071,265,NaN,NaN,1,0.00,N,1,80.00,0.0,0.0,0.00,5.76,0.3,86.06,2018-02-28 23
8492072,265,NaN,NaN,1,2.40,N,1,105.00,0.0,0.0,21.05,0.00,0.3,126.35,2018-02-28 23
8492073,265,NaN,NaN,1,0.00,N,1,150.00,0.0,0.5,0.00,10.50,0.3,161.30,2018-02-28 23
8492074,265,NaN,NaN,1,12.64,N,1,50.00,0.0,0.5,5.00,0.00,0.3,55.80,2018-02-28 23
8492075,265,NaN,NaN,1,1.70,N,1,50.00,0.0,0.0,12.55,0.00,0.3,62.85,2018-02-28 23

In [11]:
df_feb['CabRequest']=1

In [14]:
summaries1 = df_feb.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries1)
summaries1.to_csv('Combined_Feb2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-02-01 20 Boro Zone              1          3.80
                        2018-02-02 18 Boro Zone              1          4.30
                        2018-02-02 9  Boro Zone              3          3.30
                        2018-02-03 0  Boro Zone              1         54.30
                        2018-02-03 6  Boro Zone              1         18.30
                        2018-02-05 13 Boro Zone              1         12.80
                        2018-02-05 18 Boro Zone              1         19.32
                        2018-02-08 23 Boro Zone              1         54.12
                        2018-02-09 8  Boro Zone              1         13.30
                        2018-02-10 1  Boro Zone              1          8.30
                        2018-02-11 9  Boro Zone              1         18.30
                        2018-02-12 1  Boro Zone              1          5.30
                        2018-02-13 10 Boro Zone              1         15.30
                        2018-02-14 18 Boro Zone              1         18.30
                        2018-02-14 2  Boro Zone              1          9.30
                        2018-02-14 8  Boro Zone              2         87.10
                        2018-02-16 10 Boro Zone              2         33.60
                        2018-02-16 12 Boro Zone              1         17.30
                        2018-02-16 13 Boro Zone              1         68.82
                        2018-02-17 17 Boro Zone              1         16.45
                        2018-02-17 9  Boro Zone              1          8.40
                        2018-02-18 11 Boro Zone              1         42.30
                        2018-02-19 0  Boro Zone              1          5.30
                        2018-02-19 2  Boro Zone              1          8.30
                        2018-02-19 21 Boro Zone              1         18.80
                        2018-02-20 12 Boro Zone              1         75.32
                        2018-02-21 11 Boro Zone              1         24.80
                        2018-02-21 12 Boro Zone              1          8.30
                        2018-02-22 13 Boro Zone              1         31.30
                        2018-02-23 21 Boro Zone              1         26.80
...                                                        ...           ...
Yorkville West          2018-02-27 4  Yellow Zone           35        588.14
                        2018-02-27 5  Yellow Zone           78       1345.20
                        2018-02-27 6  Yellow Zone          229       3138.36
                        2018-02-27 7  Yellow Zone          362       4977.08
                        2018-02-27 8  Yellow Zone          419       6088.84
                        2018-02-27 9  Yellow Zone          302       4393.39
                        2018-02-28 0  Yellow Zone           91       1067.55
                        2018-02-28 1  Yellow Zone           46        605.56
                        2018-02-28 10 Yellow Zone          264       3270.02
                        2018-02-28 11 Yellow Zone          227       2894.48
                        2018-02-28 12 Yellow Zone          266       3074.00
                        2018-02-28 13 Yellow Zone          269       3242.38
                        2018-02-28 14 Yellow Zone          249       2879.16
                        2018-02-28 15 Yellow Zone          278       3285.77
                        2018-02-28 16 Yellow Zone          274       3574.29
                        2018-02-28 17 Yellow Zone          272       3245.86
                        2018-02-28 18 Yellow Zone          387       5013.24
                        2018-02-28 19 Yellow Zone          334       4199.89
                        2018-02-28 2  Yellow Zone           36        465.85
                        2018-02-28 20 Yellow Zone          307       3760.50
                        2018-02-28 21 Yellow Zone          251       3021.11
                        2018-02-28 22 Yellow Zone          262       3247.97
                        2018-02-28 23 Yellow Zone          149       1910.21
                        2018-02-28 3  Yellow Zone           26        429.33
                        2018-02-28 4  Yellow Zone           38        676.64
                        2018-02-28 5  Yellow Zone           83       1466.62
                        2018-02-28 6  Yellow Zone          240       3306.64
                        2018-02-28 7  Yellow Zone          387       5065.02
                        2018-02-28 8  Yellow Zone          388       5480.98
                        2018-02-28 9  Yellow Zone          343       4654.87

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-02-01 20 Boro Zone           0.00
                        2018-02-02 18 Boro Zone           0.00
                        2018-02-02 9  Boro Zone           0.00
                        2018-02-03 0  Boro Zone           0.00
                        2018-02-03 6  Boro Zone           0.00
                        2018-02-05 13 Boro Zone           0.00
                        2018-02-05 18 Boro Zone           2.52
                        2018-02-08 23 Boro Zone          10.82
                        2018-02-09 8  Boro Zone           0.00
                        2018-02-10 1  Boro Zone           0.00
                        2018-02-11 9  Boro Zone           0.00
                        2018-02-12 1  Boro Zone           0.00
                        2018-02-13 10 Boro Zone           0.00
                        2018-02-14 18 Boro Zone           0.00
                        2018-02-14 2  Boro Zone           0.00
                        2018-02-14 8  Boro Zone           0.00
                        2018-02-16 10 Boro Zone           0.00
                        2018-02-16 12 Boro Zone           0.00
                        2018-02-16 13 Boro Zone           0.00
                        2018-02-17 17 Boro Zone           2.15
                        2018-02-17 9  Boro Zone           1.10
                        2018-02-18 11 Boro Zone           0.00
                        2018-02-19 0  Boro Zone           0.00
                        2018-02-19 2  Boro Zone           2.00
                        2018-02-19 21 Boro Zone           0.00
                        2018-02-20 12 Boro Zone           0.00
                        2018-02-21 11 Boro Zone           0.00
                        2018-02-21 12 Boro Zone           0.00
                        2018-02-22 13 Boro Zone           0.00
                        2018-02-23 21 Boro Zone           3.50
...                                                        ...
Yorkville West          2018-02-27 4  Yellow Zone        57.94
                        2018-02-27 5  Yellow Zone       166.94
                        2018-02-27 6  Yellow Zone       405.57
                        2018-02-27 7  Yellow Zone       633.85
                        2018-02-27 8  Yellow Zone       766.59
                        2018-02-27 9  Yellow Zone       575.67
                        2018-02-28 0  Yellow Zone       111.75
                        2018-02-28 1  Yellow Zone        44.26
                        2018-02-28 10 Yellow Zone       369.90
                        2018-02-28 11 Yellow Zone       318.82
                        2018-02-28 12 Yellow Zone       331.52
                        2018-02-28 13 Yellow Zone       359.40
                        2018-02-28 14 Yellow Zone       321.14
                        2018-02-28 15 Yellow Zone       369.57
                        2018-02-28 16 Yellow Zone       346.53
                        2018-02-28 17 Yellow Zone       347.36
                        2018-02-28 18 Yellow Zone       583.90
                        2018-02-28 19 Yellow Zone       516.51
                        2018-02-28 2  Yellow Zone        46.05
                        2018-02-28 20 Yellow Zone       446.40
                        2018-02-28 21 Yellow Zone       357.31
                        2018-02-28 22 Yellow Zone       363.85
                        2018-02-28 23 Yellow Zone       224.99
                        2018-02-28 3  Yellow Zone        39.08
                        2018-02-28 4  Yellow Zone        66.18
                        2018-02-28 5  Yellow Zone       188.34
                        2018-02-28 6  Yellow Zone       378.83
                        2018-02-28 7  Yellow Zone       648.67
                        2018-02-28 8  Yellow Zone       674.43
                        2018-02-28 9  Yellow Zone       560.48

[79394 rows x 3 columns]

In [11]:
tp2 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-03.csv', iterator=True, chunksize=1000)
df3 = pd.concat(tp2, ignore_index=True)

In [12]:
df_March=pd.merge(df_lookup,df3, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [13]:
df_March['Time'] = pd.to_datetime(df_March.tpep_pickup_datetime)
df_March['hour']=df_March.Time.dt.hour
df_March['date']=df_March.Time.dt.date

In [14]:
df_March['PickupTime']= df_March['date'].map(str) +" " +df_March['hour'].map(str)

In [15]:
df_March.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,2,14.70,N,1,100.00,0.0,0.0,10.00,0.00,0.3,110.30,2018-03-01 5
1,1,Newark Airport,EWR,1,0.01,N,1,99.00,0.0,0.5,10.00,0.00,0.0,109.50,2018-03-01 5
2,1,Newark Airport,EWR,1,0.00,N,2,20.00,0.0,0.0,0.00,62.70,0.3,83.00,2018-03-01 7
3,1,Newark Airport,EWR,2,0.30,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-03-01 8
4,1,Newark Airport,EWR,2,0.00,N,1,70.00,0.0,0.0,15.00,0.00,0.3,85.30,2018-03-01 9
5,1,Newark Airport,EWR,1,13.70,N,1,90.00,0.0,0.0,0.00,0.00,0.3,90.30,2018-03-01 10
6,1,Newark Airport,EWR,1,0.00,N,1,90.75,0.0,0.5,18.31,0.00,0.3,109.86,2018-03-01 12
7,1,Newark Airport,EWR,1,0.00,N,1,2.50,0.0,0.5,17.25,83.00,0.3,103.55,2018-03-01 14
8,1,Newark Airport,EWR,1,0.00,N,2,10.00,0.0,0.5,0.00,0.00,0.3,10.80,2018-03-01 14
9,1,Newark Airport,EWR,1,3.50,N,1,40.00,0.0,0.0,0.00,0.00,0.3,40.30,2018-03-01 15
10,1,Newark Airport,EWR,1,3.50,N,1,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-03-01 15
11,1,Newark Airport,EWR,5,0.00,N,1,90.00,0.0,0.5,18.16,0.00,0.3,108.96,2018-03-01 15
12,1,Newark Airport,EWR,4,0.00,N,1,34.55,0.0,0.5,0.00,0.00,0.3,35.35,2018-03-01 16
13,1,Newark Airport,EWR,2,0.00,N,1,85.00,0.0,0.5,17.16,0.00,0.3,102.96,2018-03-01 17
14,1,Newark Airport,EWR,1,0.00,N,1,99.70,0.0,0.0,0.00,0.00,0.3,100.00,2018-03-01 18
15,1,Newark Airport,EWR,1,0.00,N,1,94.60,0.0,0.0,18.98,0.00,0.3,113.88,2018-03-01 18
16,1,Newark Airport,EWR,4,0.00,N,1,95.00,0.0,0.0,20.00,0.00,0.3,115.30,2018-03-02 4
17,1,Newark Airport,EWR,1,17.50,N,1,97.00,0.0,0.0,0.00,0.00,0.3,97.30,2018-03-02 4
18,1,Newark Airport,EWR,1,0.00,N,2,85.00,0.0,0.5,0.00,0.00,0.3,85.80,2018-03-02 4
19,1,Newark Airport,EWR,1,0.00,N,2,85.00,0.0,0.5,0.00,0.00,0.3,85.80,2018-03-02 4
20,1,Newark Airport,EWR,1,0.00,N,2,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-03-02 4
21,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.5,0.00,0.00,0.3,90.80,2018-03-02 6
22,1,Newark Airport,EWR,1,0.00,N,1,110.00,0.0,0.0,10.00,0.00,0.3,120.30,2018-03-02 8
23,1,Newark Airport,EWR,1,0.01,N,1,85.00,0.0,0.5,10.00,12.50,0.3,108.30,2018-03-02 8
24,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.0,0.00,0.00,0.3,90.30,2018-03-02 9
25,1,Newark Airport,EWR,1,16.30,N,1,64.00,0.0,0.0,5.55,18.50,0.3,88.35,2018-03-02 10
26,1,Newark Airport,EWR,1,40.90,N,1,150.00,0.0,0.0,33.65,18.00,0.3,201.95,2018-03-02 11
27,1,Newark Airport,EWR,1,0.00,N,1,89.00,0.0,0.5,17.96,0.00,0.3,107.76,2018-03-02 11
28,1,Newark Airport,EWR,1,0.00,N,1,150.00,0.0,0.0,30.05,0.00,0.3,180.35,2018-03-02 13
29,1,Newark Airport,EWR,1,0.01,N,1,85.00,0.0,0.0,0.00,0.00,0.3,85.30,2018-03-02 13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9430346,265,NaN,NaN,1,0.00,N,3,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2018-03-31 16
9430347,265,NaN,NaN,1,4.27,N,1,13.50,0.0,0.5,2.88,12.50,0.3,29.68,2018-03-31 16
9430348,265,NaN,NaN,1,3.00,N,1,45.00,0.0,0.0,7.00,0.00,0.3,52.30,2018-03-31 16
9430349,265,NaN,NaN,1,0.00,N,3,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2018-03-31 17
9430350,265,NaN,NaN,1,0.00,N,1,140.00,0.0,0.0,0.00,0.00,0.3,140.30,2018-03-31 17
9430351,265,NaN,NaN,2,20.00,N,2,52.00,0.0,0.5,0.00,5.76,0.3,58.56,2018-03-31 17
9430352,265,NaN,NaN,2,1.06,N,1,90.00,0.0,0.0,0.00,14.50,0.3,104.80,2018-03-31 17
9430353,265,NaN,NaN,1,7.10,N,3,20.50,0.0,0.5,0.00,0.00,0.3,21.30,2018-03-31 18
9430354,265,NaN,NaN,2,0.00,N,1,80.00,0.0,0.5,0.00,12.50,0.3,93.30,2018-03-31 18
9430355,265,NaN,NaN,1,0.00,N,1,82.00,0.0,0.0,17.61,5.76,0.3,105.67,2018-03-31 19
9430356,265,NaN,NaN,1,0.00,N,1,110.50,0.0,0.0,11.00,12.50,0.3,134.30,2018-03-31 19
9430357,265,NaN,NaN,1,0.00,N,1,90.00,0.0,0.0,18.06,0.00,0.3,108.36,2018-03-31 19
9430358,265,NaN,NaN,1,29.20,N,1,140.50,0.0,0.0,0.00,31.50,0.3,172.30,2018-03-31 19
9430359,265,NaN,NaN,1,0.00,N,4,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-03-31 20
9430360,265,NaN,NaN,1,0.00,N,1,110.00,0.0,0.0,1.00,0.00,0.3,111.30,2018-03-31 20
9430361,265,NaN,NaN,1,0.00,N,1,87.00,0.0,0.5,17.56,0.00,0.3,105.36,2018-03-31 20
9430362,265,NaN,NaN,5,0.08,N,1,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2018-03-31 21
9430363,265,NaN,NaN,1,0.00,N,1,40.00,0.0,0.0,0.00,0.00,0.3,40.30,2018-03-31 21
9430364,265,NaN,NaN,1,0.00,N,2,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2018-03-31 21
9430365,265,NaN,NaN,2,0.00,N,1,52.00,0.0,0.0,7.00,0.00,0.3,59.30,2018-03-31 21
9430366,265,NaN,NaN,4,0.00,N,3,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-03-31 22
9430367,265,NaN,NaN,4,0.00,N,2,250.00,0.0,0.0,0.00,0.00,0.0,250.00,2018-03-31 22
9430368,265,NaN,NaN,1,0.00,N,1,250.00,0.0,0.0,0.00,0.00,0.3,250.30,2018-03-31 22
9430369,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.5,0.00,0.00,0.3,120.80,2018-03-31 22
9430370,265,NaN,NaN,6,0.54,N,1,5.00,0.5,0.5,1.00,0.00,0.3,7.30,2018-03-31 22
9430371,265,NaN,NaN,1,2.10,N,2,9.50,0.5,0.5,0.00,0.00,0.3,10.80,2018-03-31 22
9430372,265,NaN,NaN,1,0.07,N,2,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-03-31 23
9430373,265,NaN,NaN,1,4.00,N,3,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-03-31 23
9430374,265,NaN,NaN,1,4.00,N,1,95.00,0.0,0.0,0.00,0.00,0.3,95.30,2018-03-31 23
9430375,265,NaN,NaN,1,0.62,N,2,6.00,0.5,0.5,0.00,0.00,0.3,7.30,2018-03-31 23

In [16]:
df_March['CabRequest']=1
summaries2 = df_March.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries2)
summaries2.to_csv('Combined_March2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-03-01 10 Boro Zone              1         10.70
                        2018-03-01 8  Boro Zone              1         12.80
                        2018-03-02 10 Boro Zone              1         15.30
                        2018-03-02 8  Boro Zone              1         16.30
                        2018-03-03 10 Boro Zone              1         10.30
                        2018-03-03 13 Boro Zone              1         13.30
                        2018-03-03 19 Boro Zone              1         44.31
                        2018-03-03 2  Boro Zone              1          4.80
                        2018-03-03 4  Boro Zone              1         21.80
                        2018-03-04 10 Boro Zone              2         17.10
                        2018-03-04 4  Boro Zone              1         17.15
                        2018-03-04 5  Boro Zone              1         15.30
                        2018-03-06 10 Boro Zone              1         18.80
                        2018-03-06 14 Boro Zone              1         16.80
                        2018-03-06 18 Boro Zone              1         45.30
                        2018-03-09 11 Boro Zone              1         34.56
                        2018-03-09 13 Boro Zone              1         10.80
                        2018-03-09 14 Boro Zone              1         34.30
                        2018-03-10 11 Boro Zone              1         20.80
                        2018-03-10 16 Boro Zone              1          5.76
                        2018-03-10 4  Boro Zone              1         44.56
                        2018-03-10 9  Boro Zone              1         10.12
                        2018-03-11 15 Boro Zone              1         32.80
                        2018-03-12 14 Boro Zone              1          9.30
                        2018-03-12 18 Boro Zone              1          4.30
                        2018-03-12 7  Boro Zone              1         61.44
                        2018-03-12 9  Boro Zone              1         28.30
                        2018-03-13 10 Boro Zone              1         11.85
                        2018-03-13 12 Boro Zone              1         48.06
                        2018-03-13 7  Boro Zone              1         64.44
...                                                        ...           ...
Yorkville West          2018-03-30 5  Yellow Zone           64       1118.31
                        2018-03-30 6  Yellow Zone          179       2742.65
                        2018-03-30 7  Yellow Zone          242       3298.13
                        2018-03-30 8  Yellow Zone          321       4331.36
                        2018-03-30 9  Yellow Zone          336       4405.01
                        2018-03-31 0  Yellow Zone          194       2662.65
                        2018-03-31 1  Yellow Zone          151       2104.40
                        2018-03-31 10 Yellow Zone          258       2876.76
                        2018-03-31 11 Yellow Zone          313       3427.89
                        2018-03-31 12 Yellow Zone          336       3908.41
                        2018-03-31 13 Yellow Zone          286       3291.76
                        2018-03-31 14 Yellow Zone          308       3682.15
                        2018-03-31 15 Yellow Zone          290       3690.37
                        2018-03-31 16 Yellow Zone          277       3312.65
                        2018-03-31 17 Yellow Zone          298       3365.81
                        2018-03-31 18 Yellow Zone          334       3810.74
                        2018-03-31 19 Yellow Zone          326       3963.76
                        2018-03-31 2  Yellow Zone          111       1275.75
                        2018-03-31 20 Yellow Zone          258       2971.81
                        2018-03-31 21 Yellow Zone          303       3410.38
                        2018-03-31 22 Yellow Zone          281       3474.05
                        2018-03-31 23 Yellow Zone          300       4019.35
                        2018-03-31 3  Yellow Zone           70       1024.65
                        2018-03-31 4  Yellow Zone           61        940.47
                        2018-03-31 5  Yellow Zone           43        775.84
                        2018-03-31 6  Yellow Zone           92       1485.53
                        2018-03-31 7  Yellow Zone          118       1622.11
                        2018-03-31 8  Yellow Zone          164       1929.98
                        2018-03-31 9  Yellow Zone          226       2578.32
                        2018-04-01 0  Yellow Zone            1          6.80

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-03-01 10 Boro Zone           1.40
                        2018-03-01 8  Boro Zone           0.00
                        2018-03-02 10 Boro Zone           0.00
                        2018-03-02 8  Boro Zone           0.00
                        2018-03-03 10 Boro Zone           0.00
                        2018-03-03 13 Boro Zone           0.00
                        2018-03-03 19 Boro Zone           7.06
                        2018-03-03 2  Boro Zone           0.00
                        2018-03-03 4  Boro Zone           0.00
                        2018-03-04 10 Boro Zone           0.00
                        2018-03-04 4  Boro Zone           2.85
                        2018-03-04 5  Boro Zone           0.00
                        2018-03-06 10 Boro Zone           0.00
                        2018-03-06 14 Boro Zone           0.00
                        2018-03-06 18 Boro Zone           0.00
                        2018-03-09 11 Boro Zone           0.00
                        2018-03-09 13 Boro Zone           0.00
                        2018-03-09 14 Boro Zone           0.00
                        2018-03-10 11 Boro Zone           0.00
                        2018-03-10 16 Boro Zone           0.00
                        2018-03-10 4  Boro Zone           0.00
                        2018-03-10 9  Boro Zone           1.32
                        2018-03-11 15 Boro Zone           0.00
                        2018-03-12 14 Boro Zone           0.00
                        2018-03-12 18 Boro Zone           0.00
                        2018-03-12 7  Boro Zone           0.00
                        2018-03-12 9  Boro Zone           0.00
                        2018-03-13 10 Boro Zone           1.55
                        2018-03-13 12 Boro Zone           0.00
                        2018-03-13 7  Boro Zone           0.00
...                                                        ...
Yorkville West          2018-03-30 5  Yellow Zone       124.78
                        2018-03-30 6  Yellow Zone       368.23
                        2018-03-30 7  Yellow Zone       428.50
                        2018-03-30 8  Yellow Zone       560.01
                        2018-03-30 9  Yellow Zone       562.09
                        2018-03-31 0  Yellow Zone       292.67
                        2018-03-31 1  Yellow Zone       253.84
                        2018-03-31 10 Yellow Zone       352.75
                        2018-03-31 11 Yellow Zone       400.93
                        2018-03-31 12 Yellow Zone       425.31
                        2018-03-31 13 Yellow Zone       379.66
                        2018-03-31 14 Yellow Zone       376.58
                        2018-03-31 15 Yellow Zone       417.43
                        2018-03-31 16 Yellow Zone       358.51
                        2018-03-31 17 Yellow Zone       371.31
                        2018-03-31 18 Yellow Zone       448.55
                        2018-03-31 19 Yellow Zone       391.40
                        2018-03-31 2  Yellow Zone       116.95
                        2018-03-31 20 Yellow Zone       341.13
                        2018-03-31 21 Yellow Zone       376.34
                        2018-03-31 22 Yellow Zone       381.33
                        2018-03-31 23 Yellow Zone       449.12
                        2018-03-31 3  Yellow Zone       123.37
                        2018-03-31 4  Yellow Zone        73.59
                        2018-03-31 5  Yellow Zone       123.14
                        2018-03-31 6  Yellow Zone       175.91
                        2018-03-31 7  Yellow Zone       175.21
                        2018-03-31 8  Yellow Zone       210.32
                        2018-03-31 9  Yellow Zone       330.98
                        2018-04-01 0  Yellow Zone         0.00

[93411 rows x 3 columns]

In [17]:
tp3 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-04.csv', iterator=True, chunksize=1000)
df4 = pd.concat(tp3, ignore_index=True)

In [18]:
df_April=pd.merge(df_lookup,df4, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [19]:
df_April['Time'] = pd.to_datetime(df_April.tpep_pickup_datetime)
df_April['hour']=df_April.Time.dt.hour
df_April['date']=df_April.Time.dt.date

In [20]:
df_April['PickupTime']= df_April['date'].map(str) +" " +df_April['hour'].map(str)

In [21]:
df_April.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.30,N,1,85.00,0.0,0.0,15.00,0.00,0.3,100.30,2018-04-01 6
1,1,Newark Airport,EWR,1,0.00,N,1,85.30,0.0,0.0,13.40,0.00,0.3,99.00,2018-04-01 6
2,1,Newark Airport,EWR,4,0.00,N,1,80.00,0.0,0.0,5.00,0.00,0.3,85.30,2018-04-01 7
3,1,Newark Airport,EWR,4,0.00,N,1,90.00,0.0,0.0,9.00,0.00,0.3,99.30,2018-04-01 8
4,1,Newark Airport,EWR,2,0.00,N,1,97.00,0.0,0.0,5.00,0.00,0.3,102.30,2018-04-01 12
5,1,Newark Airport,EWR,2,0.00,N,1,76.00,0.0,0.5,0.00,19.30,0.3,96.10,2018-04-01 14
6,1,Newark Airport,EWR,1,0.00,N,1,75.00,0.0,0.0,0.00,20.00,0.3,95.30,2018-04-01 14
7,1,Newark Airport,EWR,1,0.00,N,1,99.00,0.0,0.0,10.00,0.00,0.3,109.30,2018-04-01 14
8,1,Newark Airport,EWR,2,0.00,N,1,95.00,0.0,0.5,23.96,24.00,0.3,143.76,2018-04-01 15
9,1,Newark Airport,EWR,2,0.00,N,1,20.00,0.0,0.5,4.16,0.00,0.3,24.96,2018-04-01 15
10,1,Newark Airport,EWR,1,0.00,N,1,82.00,0.0,0.0,20.55,0.00,0.3,102.85,2018-04-01 16
11,1,Newark Airport,EWR,1,0.00,N,1,63.50,0.0,0.5,16.00,0.00,0.0,80.00,2018-04-01 14
12,1,Newark Airport,EWR,2,0.00,N,2,111.00,0.0,0.0,0.00,0.00,0.3,111.30,2018-04-01 16
13,1,Newark Airport,EWR,2,0.00,N,1,110.00,0.0,0.5,12.00,0.00,0.3,122.80,2018-04-01 16
14,1,Newark Airport,EWR,1,0.00,Y,2,81.30,0.0,0.0,0.00,0.00,0.3,81.60,2018-04-01 16
15,1,Newark Airport,EWR,1,0.00,N,1,81.30,0.0,0.0,10.00,0.00,0.3,91.60,2018-04-01 16
16,1,Newark Airport,EWR,1,0.08,N,2,103.30,0.0,0.5,0.00,0.00,0.3,104.10,2018-04-01 16
17,1,Newark Airport,EWR,1,0.00,N,1,30.00,0.0,0.0,0.00,0.00,0.3,30.30,2018-04-01 17
18,1,Newark Airport,EWR,3,0.00,N,1,103.00,0.0,0.5,23.26,12.50,0.3,139.56,2018-04-01 17
19,1,Newark Airport,EWR,1,0.20,N,1,120.00,0.0,0.0,0.00,0.00,0.3,120.30,2018-04-01 17
20,1,Newark Airport,EWR,4,0.00,N,1,110.00,0.0,0.5,22.16,0.00,0.3,132.96,2018-04-01 17
21,1,Newark Airport,EWR,4,0.00,N,1,95.00,0.0,0.0,19.05,0.00,0.3,114.35,2018-04-01 18
22,1,Newark Airport,EWR,2,17.79,N,1,68.00,0.0,0.0,10.00,20.00,0.3,98.30,2018-04-01 19
23,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.5,17.16,0.00,0.3,102.96,2018-04-02 4
24,1,Newark Airport,EWR,1,0.00,N,1,103.00,0.0,0.0,0.00,0.00,0.3,103.30,2018-04-02 10
25,1,Newark Airport,EWR,1,0.01,N,1,140.00,0.0,0.5,15.00,35.00,0.3,190.80,2018-04-02 12
26,1,Newark Airport,EWR,1,14.30,N,1,41.00,0.0,0.5,6.65,2.50,0.3,50.95,2018-04-02 13
27,1,Newark Airport,EWR,3,0.00,N,1,85.00,0.0,0.0,0.00,0.00,0.3,85.30,2018-04-02 13
28,1,Newark Airport,EWR,1,0.00,N,1,17.00,0.0,0.0,0.00,0.00,0.3,17.30,2018-04-02 14
29,1,Newark Airport,EWR,1,0.00,N,1,45.00,0.0,0.0,0.00,0.00,0.3,45.30,2018-04-02 15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9305485,265,NaN,NaN,1,0.00,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-04-30 20
9305486,265,NaN,NaN,1,7.26,N,2,230.00,0.0,0.5,0.00,34.06,0.3,264.86,2018-04-30 20
9305487,265,NaN,NaN,1,0.00,N,2,230.00,0.0,0.5,0.00,0.00,0.3,230.80,2018-04-30 20
9305488,265,NaN,NaN,1,0.00,N,1,131.00,0.0,0.0,27.41,5.76,0.3,164.47,2018-04-30 20
9305489,265,NaN,NaN,1,0.70,N,1,50.00,0.0,0.0,25.00,10.50,0.3,85.80,2018-04-30 20
9305490,265,NaN,NaN,1,9.50,N,1,85.00,0.0,0.5,10.00,10.50,0.3,106.30,2018-04-30 20
9305491,265,NaN,NaN,1,0.00,N,1,185.00,0.0,0.0,25.00,0.00,0.3,210.30,2018-04-30 21
9305492,265,NaN,NaN,1,0.00,N,1,155.00,0.0,0.0,0.00,0.00,0.3,155.30,2018-04-30 21
9305493,265,NaN,NaN,1,48.90,N,1,199.70,0.0,0.0,0.00,0.00,0.3,200.00,2018-04-30 21
9305494,265,NaN,NaN,1,1.30,N,1,47.00,0.0,0.0,6.00,0.00,0.3,53.30,2018-04-30 21
9305495,265,NaN,NaN,2,0.00,N,2,116.66,0.0,0.5,0.00,0.00,0.3,117.46,2018-04-30 21
9305496,265,NaN,NaN,1,0.00,N,1,66.30,0.0,0.0,0.00,0.00,0.3,66.60,2018-04-30 21
9305497,265,NaN,NaN,1,0.00,N,1,145.00,0.0,0.5,25.00,0.00,0.3,170.80,2018-04-30 21
9305498,265,NaN,NaN,1,4.65,N,1,110.00,0.0,0.5,27.70,0.00,0.3,138.50,2018-04-30 21
9305499,265,NaN,NaN,2,0.00,N,1,55.00,0.0,0.0,2.00,10.50,0.3,67.80,2018-04-30 21
9305500,265,NaN,NaN,1,0.00,N,2,92.00,0.0,0.0,0.00,0.00,0.3,92.30,2018-04-30 21
9305501,265,NaN,NaN,1,0.00,N,2,92.00,0.0,0.0,0.00,0.00,0.3,92.30,2018-04-30 21
9305502,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.5,0.08,0.00,0.3,50.88,2018-04-30 21
9305503,265,NaN,NaN,3,0.00,N,1,70.00,0.0,0.5,0.00,0.00,0.3,70.80,2018-04-30 21
9305504,265,NaN,NaN,1,0.00,N,1,110.00,0.0,0.5,5.00,10.50,0.3,126.30,2018-04-30 21
9305505,265,NaN,NaN,1,0.00,N,1,236.00,0.0,0.0,35.00,10.50,0.3,281.80,2018-04-30 22
9305506,265,NaN,NaN,1,0.00,N,1,35.00,0.0,0.5,1.00,10.50,0.3,47.30,2018-04-30 22
9305507,265,NaN,NaN,2,0.00,N,1,70.00,0.0,0.5,21.24,0.00,0.3,92.04,2018-04-30 22
9305508,265,NaN,NaN,1,0.00,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-04-30 22
9305509,265,NaN,NaN,1,0.00,N,1,84.80,0.0,0.0,10.00,0.00,0.3,95.10,2018-04-30 22
9305510,265,NaN,NaN,1,0.00,N,1,0.01,0.0,0.0,5.00,70.00,0.3,75.31,2018-04-30 22
9305511,265,NaN,NaN,1,5.20,N,1,65.80,0.0,0.0,13.20,0.00,0.3,79.30,2018-04-30 23
9305512,265,NaN,NaN,1,3.85,N,1,14.50,0.5,0.5,3.16,0.00,0.3,18.96,2018-04-30 23
9305513,265,NaN,NaN,2,0.03,N,1,45.00,0.0,0.5,15.00,10.50,0.3,71.30,2018-04-30 23
9305514,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,30.00,10.50,0.3,90.80,2018-04-30 23

In [22]:
df_April['CabRequest']=1
summaries3 = df_April.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries3)
summaries3.to_csv('Combined_April2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-04-01 11 Boro Zone              1         41.80
                        2018-04-01 2  Boro Zone              1         23.80
                        2018-04-01 8  Boro Zone              1         44.80
                        2018-04-01 9  Boro Zone              2         69.60
                        2018-04-03 12 Boro Zone              1         11.30
                        2018-04-03 13 Boro Zone              1         29.80
                        2018-04-04 9  Boro Zone              1         47.22
                        2018-04-05 10 Boro Zone              1          9.80
                        2018-04-05 13 Boro Zone              1         51.36
                        2018-04-05 3  Boro Zone              1          3.80
                        2018-04-05 9  Boro Zone              2         39.71
                        2018-04-06 5  Boro Zone              1         11.80
                        2018-04-08 12 Boro Zone              1         14.30
                        2018-04-08 13 Boro Zone              2         19.10
                        2018-04-08 17 Boro Zone              2         35.60
                        2018-04-08 21 Boro Zone              1          9.30
                        2018-04-08 7  Boro Zone              1         22.30
                        2018-04-09 7  Boro Zone              1          4.80
                        2018-04-10 10 Boro Zone              1          7.80
                        2018-04-10 13 Boro Zone              1         34.30
                        2018-04-10 17 Boro Zone              1         54.30
                        2018-04-10 5  Boro Zone              1         65.56
                        2018-04-10 7  Boro Zone              3        153.80
                        2018-04-11 11 Boro Zone              1         12.42
                        2018-04-11 12 Boro Zone              1         27.30
                        2018-04-12 13 Boro Zone              1         17.80
                        2018-04-13 11 Boro Zone              1          8.80
                        2018-04-13 12 Boro Zone              1         22.80
                        2018-04-13 13 Boro Zone              1         17.30
                        2018-04-13 17 Boro Zone              1         50.30
...                                                        ...           ...
Yorkville West          2018-04-29 9  Yellow Zone          268       3267.89
                        2018-04-30 0  Yellow Zone           69        848.77
                        2018-04-30 1  Yellow Zone           35        426.77
                        2018-04-30 10 Yellow Zone          261       3129.65
                        2018-04-30 11 Yellow Zone          262       3397.24
                        2018-04-30 12 Yellow Zone          229       2752.98
                        2018-04-30 13 Yellow Zone          246       2869.02
                        2018-04-30 14 Yellow Zone          280       3865.19
                        2018-04-30 15 Yellow Zone          342       4505.55
                        2018-04-30 16 Yellow Zone          297       4210.30
                        2018-04-30 17 Yellow Zone          354       4677.58
                        2018-04-30 18 Yellow Zone          341       4111.45
                        2018-04-30 19 Yellow Zone          300       3540.06
                        2018-04-30 2  Yellow Zone           27        308.09
                        2018-04-30 20 Yellow Zone          226       2650.22
                        2018-04-30 21 Yellow Zone          221       2625.21
                        2018-04-30 22 Yellow Zone          161       2025.32
                        2018-04-30 23 Yellow Zone           98       1220.95
                        2018-04-30 3  Yellow Zone           18        237.02
                        2018-04-30 4  Yellow Zone           42        954.39
                        2018-04-30 5  Yellow Zone           86       1865.52
                        2018-04-30 6  Yellow Zone          221       3106.43
                        2018-04-30 7  Yellow Zone          298       3958.07
                        2018-04-30 8  Yellow Zone          274       4420.51
                        2018-04-30 9  Yellow Zone          265       3801.08
                        2018-05-01 0  Yellow Zone            1          9.96
                        2018-05-27 9  Yellow Zone            1         10.56
                        2018-06-26 20 Yellow Zone            1          6.80
                        2018-07-09 1  Yellow Zone            1          9.36
                        2018-08-20 17 Yellow Zone            1         18.80

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-04-01 11 Boro Zone           0.00
                        2018-04-01 2  Boro Zone           0.00
                        2018-04-01 8  Boro Zone           0.00
                        2018-04-01 9  Boro Zone           0.00
                        2018-04-03 12 Boro Zone           0.00
                        2018-04-03 13 Boro Zone           0.00
                        2018-04-04 9  Boro Zone           6.16
                        2018-04-05 10 Boro Zone           0.00
                        2018-04-05 13 Boro Zone           8.56
                        2018-04-05 3  Boro Zone           0.00
                        2018-04-05 9  Boro Zone           3.66
                        2018-04-06 5  Boro Zone           0.00
                        2018-04-08 12 Boro Zone           0.00
                        2018-04-08 13 Boro Zone           0.00
                        2018-04-08 17 Boro Zone           0.00
                        2018-04-08 21 Boro Zone           0.00
                        2018-04-08 7  Boro Zone           0.00
                        2018-04-09 7  Boro Zone           0.00
                        2018-04-10 10 Boro Zone           0.00
                        2018-04-10 13 Boro Zone           0.00
                        2018-04-10 17 Boro Zone           5.00
                        2018-04-10 5  Boro Zone          10.00
                        2018-04-10 7  Boro Zone           0.00
                        2018-04-11 11 Boro Zone           1.62
                        2018-04-11 12 Boro Zone           0.00
                        2018-04-12 13 Boro Zone           0.00
                        2018-04-13 11 Boro Zone           0.00
                        2018-04-13 12 Boro Zone           0.00
                        2018-04-13 13 Boro Zone           0.00
                        2018-04-13 17 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-04-29 9  Yellow Zone       376.93
                        2018-04-30 0  Yellow Zone        66.07
                        2018-04-30 1  Yellow Zone        38.77
                        2018-04-30 10 Yellow Zone       348.05
                        2018-04-30 11 Yellow Zone       339.08
                        2018-04-30 12 Yellow Zone       295.74
                        2018-04-30 13 Yellow Zone       285.30
                        2018-04-30 14 Yellow Zone       443.35
                        2018-04-30 15 Yellow Zone       478.63
                        2018-04-30 16 Yellow Zone       474.63
                        2018-04-30 17 Yellow Zone       500.90
                        2018-04-30 18 Yellow Zone       452.13
                        2018-04-30 19 Yellow Zone       410.74
                        2018-04-30 2  Yellow Zone        25.54
                        2018-04-30 20 Yellow Zone       300.16
                        2018-04-30 21 Yellow Zone       314.41
                        2018-04-30 22 Yellow Zone       228.00
                        2018-04-30 23 Yellow Zone       128.15
                        2018-04-30 3  Yellow Zone        18.36
                        2018-04-30 4  Yellow Zone       108.46
                        2018-04-30 5  Yellow Zone       255.35
                        2018-04-30 6  Yellow Zone       397.55
                        2018-04-30 7  Yellow Zone       467.09
                        2018-04-30 8  Yellow Zone       544.75
                        2018-04-30 9  Yellow Zone       449.83
                        2018-05-01 0  Yellow Zone         1.66
                        2018-05-27 9  Yellow Zone         1.76
                        2018-06-26 20 Yellow Zone         0.00
                        2018-07-09 1  Yellow Zone         1.56
                        2018-08-20 17 Yellow Zone         1.50

[91514 rows x 3 columns]

In [2]:
tp4 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-05.csv', iterator=True, chunksize=1000)
df5 = pd.concat(tp4, ignore_index=True)

In [4]:
df_May=pd.merge(df_lookup,df5, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [5]:
df_May['Time'] = pd.to_datetime(df_May.tpep_pickup_datetime)
df_May['hour']=df_May.Time.dt.hour
df_May['date']=df_May.Time.dt.date

In [6]:
df_May['PickupTime']= df_May['date'].map(str) +" " +df_May['hour'].map(str)

In [7]:
df_May.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.00,N,1,121.50,0.0,0.0,24.35,0.00,0.3,146.15,2018-05-01 5
1,1,Newark Airport,EWR,1,0.00,N,1,70.00,0.0,0.0,0.00,15.00,0.3,85.30,2018-05-01 5
2,1,Newark Airport,EWR,1,0.00,N,2,0.00,0.0,0.0,0.00,0.00,0.0,0.00,2018-05-01 6
3,1,Newark Airport,EWR,5,5.16,N,1,19.00,0.0,0.5,3.96,0.00,0.3,23.76,2018-05-01 7
4,1,Newark Airport,EWR,1,0.00,N,1,77.00,0.0,0.0,18.66,16.00,0.3,111.96,2018-05-01 12
5,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.0,16.05,0.00,0.3,96.35,2018-05-01 14
6,1,Newark Airport,EWR,9,0.00,N,1,95.00,0.0,0.5,0.00,0.00,0.3,95.80,2018-05-01 14
7,1,Newark Airport,EWR,0,0.00,N,1,95.00,0.0,0.0,20.00,0.00,0.3,115.30,2018-05-01 14
8,1,Newark Airport,EWR,2,0.00,N,1,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-05-01 14
9,1,Newark Airport,EWR,1,0.00,N,1,91.00,0.0,0.0,0.00,0.00,0.3,91.30,2018-05-01 15
10,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.0,3.00,0.00,0.3,93.30,2018-05-01 15
11,1,Newark Airport,EWR,1,0.00,N,1,20.00,1.0,0.0,61.00,0.00,0.3,82.30,2018-05-01 16
12,1,Newark Airport,EWR,1,0.00,N,1,70.00,0.0,0.5,14.16,0.00,0.3,84.96,2018-05-01 16
13,1,Newark Airport,EWR,1,0.41,N,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-05-01 16
14,1,Newark Airport,EWR,1,0.01,N,1,75.00,0.0,0.5,23.78,19.30,0.3,118.88,2018-05-01 17
15,1,Newark Airport,EWR,1,0.00,N,1,116.00,0.0,0.0,0.01,0.00,0.3,116.31,2018-05-01 18
16,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.5,21.66,12.50,0.3,129.96,2018-05-01 18
17,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.5,15.00,19.00,0.3,124.80,2018-05-01 19
18,1,Newark Airport,EWR,1,0.00,N,2,100.00,0.0,0.5,0.00,19.00,0.3,119.80,2018-05-01 19
19,1,Newark Airport,EWR,1,0.00,N,1,40.00,0.0,0.0,8.06,0.00,0.3,48.36,2018-05-01 20
20,1,Newark Airport,EWR,4,0.00,N,1,196.00,0.0,0.5,39.36,0.00,0.3,236.16,2018-05-01 20
21,1,Newark Airport,EWR,1,0.01,N,1,80.00,0.0,0.0,18.16,10.50,0.3,108.96,2018-05-01 22
22,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.0,0.00,0.00,0.3,80.30,2018-05-02 5
23,1,Newark Airport,EWR,1,0.00,N,1,121.50,0.0,0.0,15.00,0.00,0.3,136.80,2018-05-02 6
24,1,Newark Airport,EWR,1,0.00,N,1,110.00,0.0,0.5,22.16,0.00,0.3,132.96,2018-05-02 6
25,1,Newark Airport,EWR,1,0.00,N,1,75.00,0.0,0.0,19.00,19.75,0.3,114.05,2018-05-02 6
26,1,Newark Airport,EWR,2,0.00,N,1,85.00,0.0,0.0,21.30,0.00,0.3,106.60,2018-05-02 6
27,1,Newark Airport,EWR,2,12.30,N,1,97.00,0.0,0.0,10.00,0.00,0.3,107.30,2018-05-02 6
28,1,Newark Airport,EWR,0,0.01,N,1,90.00,0.0,0.0,10.00,0.00,0.3,100.30,2018-05-02 6
29,1,Newark Airport,EWR,1,0.00,N,1,111.96,0.0,0.0,0.00,0.00,0.3,112.26,2018-05-02 7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9224033,265,NaN,NaN,1,0.00,N,1,55.55,0.0,0.5,13.37,10.50,0.3,80.22,2018-05-31 21
9224034,265,NaN,NaN,1,0.00,N,1,70.00,0.0,0.0,0.00,0.00,0.3,70.30,2018-05-31 21
9224035,265,NaN,NaN,1,0.00,N,1,124.50,0.0,0.5,31.32,0.00,0.3,156.62,2018-05-31 21
9224036,265,NaN,NaN,1,9.10,N,1,33.00,0.5,0.5,4.00,0.00,0.3,38.30,2018-05-31 21
9224037,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.5,10.00,0.00,0.3,130.80,2018-05-31 21
9224038,265,NaN,NaN,1,0.00,N,1,300.00,0.0,0.0,60.06,0.00,0.3,360.36,2018-05-31 22
9224039,265,NaN,NaN,1,3.91,N,1,40.00,0.0,0.0,12.09,0.00,0.3,52.39,2018-05-31 22
9224040,265,NaN,NaN,1,0.00,N,2,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-05-31 22
9224041,265,NaN,NaN,1,0.00,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-05-31 22
9224042,265,NaN,NaN,1,0.00,N,4,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-05-31 22
9224043,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,0.00,0.00,0.3,50.30,2018-05-31 22
9224044,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,12.15,10.50,0.3,72.95,2018-05-31 22
9224045,265,NaN,NaN,1,0.03,N,1,105.00,0.0,0.5,21.16,0.00,0.3,126.96,2018-05-31 22
9224046,265,NaN,NaN,2,0.10,N,1,100.00,0.0,0.0,2.00,0.00,0.3,102.30,2018-05-31 22
9224047,265,NaN,NaN,0,0.00,N,1,45.00,0.0,0.0,11.15,10.50,0.3,66.95,2018-05-31 22
9224048,265,NaN,NaN,2,0.00,N,1,52.00,0.0,0.5,15.84,0.00,0.3,68.64,2018-05-31 22
9224049,265,NaN,NaN,1,5.20,N,3,35.00,0.0,0.0,0.00,0.00,0.3,35.30,2018-05-31 22
9224050,265,NaN,NaN,1,0.00,N,1,250.00,0.0,0.0,0.00,0.00,0.3,250.30,2018-05-31 22
9224051,265,NaN,NaN,1,28.30,N,1,0.00,0.0,0.0,183.00,0.00,0.3,183.30,2018-05-31 22
9224052,265,NaN,NaN,0,0.00,N,1,74.50,0.0,0.0,14.96,0.00,0.3,89.76,2018-05-31 22
9224053,265,NaN,NaN,1,0.00,N,1,62.00,0.0,0.5,0.00,0.00,0.3,62.80,2018-05-31 23
9224054,265,NaN,NaN,3,4.04,N,1,16.50,0.5,0.5,0.00,0.00,0.3,17.80,2018-05-31 23
9224055,265,NaN,NaN,1,0.02,N,1,50.00,0.0,0.0,0.00,0.00,0.3,50.30,2018-05-31 23
9224056,265,NaN,NaN,1,0.00,N,1,44.50,0.0,0.0,2.00,0.00,0.3,46.80,2018-05-31 23
9224057,265,NaN,NaN,1,0.00,N,1,91.00,0.0,0.5,10.00,0.00,0.3,101.80,2018-05-31 23
9224058,265,NaN,NaN,1,0.00,N,1,55.00,0.0,0.5,5.00,0.00,0.3,60.80,2018-05-31 23
9224059,265,NaN,NaN,1,0.00,N,1,160.00,0.0,0.5,8.04,0.00,0.3,168.84,2018-05-31 23
9224060,265,NaN,NaN,1,0.00,N,1,52.00,0.0,0.5,13.20,0.00,0.3,66.00,2018-05-31 23
9224061,265,NaN,NaN,1,0.10,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-05-31 23
9224062,265,NaN,NaN,1,0.00,N,1,2.50,0.5,0.5,96.20,0.00,0.3,100.00,2018-05-31 23

In [9]:
df_May['CabRequest']=1
summaries4 = df_May.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries4)
summaries4.to_csv('Combined_May2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-05-01 15 Boro Zone              1         32.30
                        2018-05-01 7  Boro Zone              1         66.63
                        2018-05-02 12 Boro Zone              1         15.30
                        2018-05-02 7  Boro Zone              1         59.94
                        2018-05-02 9  Boro Zone              1         15.87
                        2018-05-03 10 Boro Zone              1         82.06
                        2018-05-03 14 Boro Zone              1         13.80
                        2018-05-03 7  Boro Zone              1          3.30
                        2018-05-03 9  Boro Zone              1         11.80
                        2018-05-04 10 Boro Zone              1         16.80
                        2018-05-04 15 Boro Zone              1         55.06
                        2018-05-05 0  Boro Zone              1          3.80
                        2018-05-05 15 Boro Zone              1         50.56
                        2018-05-05 3  Boro Zone              2         19.10
                        2018-05-05 4  Boro Zone              1         69.56
                        2018-05-06 12 Boro Zone              1         11.80
                        2018-05-07 15 Boro Zone              1         50.56
                        2018-05-07 5  Boro Zone              1         36.80
                        2018-05-08 0  Boro Zone              1         12.80
                        2018-05-08 10 Boro Zone              1         10.30
                        2018-05-09 12 Boro Zone              1         12.30
                        2018-05-09 15 Boro Zone              2         20.10
                        2018-05-09 7  Boro Zone              1         57.44
                        2018-05-10 10 Boro Zone              1         12.80
                        2018-05-10 13 Boro Zone              1         11.80
                        2018-05-10 8  Boro Zone              1         10.30
                        2018-05-10 9  Boro Zone              1         43.06
                        2018-05-11 10 Boro Zone              2         22.10
                        2018-05-11 21 Boro Zone              1         11.80
                        2018-05-11 22 Boro Zone              1         14.30
...                                                        ...           ...
Yorkville West          2018-05-30 4  Yellow Zone           35        699.23
                        2018-05-30 5  Yellow Zone           87       1439.21
                        2018-05-30 6  Yellow Zone          202       2654.64
                        2018-05-30 7  Yellow Zone          345       4500.29
                        2018-05-30 8  Yellow Zone          342       5256.85
                        2018-05-30 9  Yellow Zone          320       4522.62
                        2018-05-31 0  Yellow Zone           87       1065.92
                        2018-05-31 1  Yellow Zone           52        574.46
                        2018-05-31 10 Yellow Zone          312       4065.45
                        2018-05-31 11 Yellow Zone          334       4004.90
                        2018-05-31 12 Yellow Zone          251       3050.12
                        2018-05-31 13 Yellow Zone          297       3534.10
                        2018-05-31 14 Yellow Zone          291       3692.36
                        2018-05-31 15 Yellow Zone          308       3665.22
                        2018-05-31 16 Yellow Zone          256       3506.66
                        2018-05-31 17 Yellow Zone          353       4477.91
                        2018-05-31 18 Yellow Zone          393       4955.52
                        2018-05-31 19 Yellow Zone          334       4056.42
                        2018-05-31 2  Yellow Zone           34        458.27
                        2018-05-31 20 Yellow Zone          290       3591.58
                        2018-05-31 21 Yellow Zone          311       3984.71
                        2018-05-31 22 Yellow Zone          260       3573.55
                        2018-05-31 23 Yellow Zone          158       2083.79
                        2018-05-31 3  Yellow Zone           26        352.26
                        2018-05-31 4  Yellow Zone           32        807.37
                        2018-05-31 5  Yellow Zone           77       1266.97
                        2018-05-31 6  Yellow Zone          218       2945.58
                        2018-05-31 7  Yellow Zone          382       5026.74
                        2018-05-31 8  Yellow Zone          391       5653.45
                        2018-05-31 9  Yellow Zone          316       4528.08

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-05-01 15 Boro Zone           0.00
                        2018-05-01 7  Boro Zone           8.69
                        2018-05-02 12 Boro Zone           0.00
                        2018-05-02 7  Boro Zone           0.00
                        2018-05-02 9  Boro Zone           2.07
                        2018-05-03 10 Boro Zone           0.00
                        2018-05-03 14 Boro Zone           0.00
                        2018-05-03 7  Boro Zone           0.00
                        2018-05-03 9  Boro Zone           0.00
                        2018-05-04 10 Boro Zone           0.00
                        2018-05-04 15 Boro Zone           0.00
                        2018-05-05 0  Boro Zone           0.00
                        2018-05-05 15 Boro Zone           0.00
                        2018-05-05 3  Boro Zone           0.00
                        2018-05-05 4  Boro Zone           0.00
                        2018-05-06 12 Boro Zone           0.00
                        2018-05-07 15 Boro Zone           0.00
                        2018-05-07 5  Boro Zone           0.00
                        2018-05-08 0  Boro Zone           0.00
                        2018-05-08 10 Boro Zone           0.00
                        2018-05-09 12 Boro Zone           0.00
                        2018-05-09 15 Boro Zone           0.00
                        2018-05-09 7  Boro Zone           0.00
                        2018-05-10 10 Boro Zone           0.00
                        2018-05-10 13 Boro Zone           0.00
                        2018-05-10 8  Boro Zone           0.00
                        2018-05-10 9  Boro Zone           0.00
                        2018-05-11 10 Boro Zone           0.00
                        2018-05-11 21 Boro Zone           0.00
                        2018-05-11 22 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-05-30 4  Yellow Zone        59.11
                        2018-05-30 5  Yellow Zone       194.45
                        2018-05-30 6  Yellow Zone       325.94
                        2018-05-30 7  Yellow Zone       587.31
                        2018-05-30 8  Yellow Zone       628.11
                        2018-05-30 9  Yellow Zone       566.64
                        2018-05-31 0  Yellow Zone       118.56
                        2018-05-31 1  Yellow Zone        59.31
                        2018-05-31 10 Yellow Zone       447.03
                        2018-05-31 11 Yellow Zone       423.07
                        2018-05-31 12 Yellow Zone       320.35
                        2018-05-31 13 Yellow Zone       347.09
                        2018-05-31 14 Yellow Zone       368.34
                        2018-05-31 15 Yellow Zone       402.28
                        2018-05-31 16 Yellow Zone       411.56
                        2018-05-31 17 Yellow Zone       513.26
                        2018-05-31 18 Yellow Zone       582.13
                        2018-05-31 19 Yellow Zone       493.02
                        2018-05-31 2  Yellow Zone        36.55
                        2018-05-31 20 Yellow Zone       404.32
                        2018-05-31 21 Yellow Zone       481.28
                        2018-05-31 22 Yellow Zone       460.58
                        2018-05-31 23 Yellow Zone       259.39
                        2018-05-31 3  Yellow Zone        29.56
                        2018-05-31 4  Yellow Zone       111.73
                        2018-05-31 5  Yellow Zone       165.32
                        2018-05-31 6  Yellow Zone       363.08
                        2018-05-31 7  Yellow Zone       602.59
                        2018-05-31 8  Yellow Zone       745.26
                        2018-05-31 9  Yellow Zone       552.27

[96388 rows x 3 columns]

In [5]:
tp5 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-06.csv', iterator=True, chunksize=1000)
df6= pd.concat(tp5, ignore_index=True)

In [6]:
df_June=pd.merge(df_lookup,df6, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [7]:
df_June['Time'] = pd.to_datetime(df_June.tpep_pickup_datetime)
df_June['hour']= df_June.Time.dt.hour
df_June['date']= df_June.Time.dt.date

In [8]:
df_June['PickupTime']= df_June['date'].map(str) +" " +df_June['hour'].map(str)

In [9]:
df_June.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.80,N,2,170.00,0.0,0.0,0.00,0.00,0.3,170.30,2018-06-01 1
1,1,Newark Airport,EWR,1,0.00,N,1,89.00,0.0,0.0,17.85,0.00,0.3,107.15,2018-06-01 4
2,1,Newark Airport,EWR,1,0.00,N,1,3.00,0.0,0.5,110.00,0.00,0.3,113.80,2018-06-01 8
3,1,Newark Airport,EWR,0,0.00,N,1,110.00,0.0,0.0,22.05,0.00,0.3,132.35,2018-06-01 8
4,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.0,24.45,12.50,0.3,122.25,2018-06-01 9
5,1,Newark Airport,EWR,1,4.30,N,1,88.00,0.0,0.0,20.65,15.00,0.3,123.95,2018-06-01 9
6,1,Newark Airport,EWR,3,0.00,N,1,20.00,0.0,0.5,5.20,0.00,0.3,26.00,2018-06-01 11
7,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.0,2.00,10.50,0.3,97.80,2018-06-01 12
8,1,Newark Airport,EWR,2,0.00,N,1,100.00,0.0,0.5,20.16,0.00,0.3,120.96,2018-06-01 12
9,1,Newark Airport,EWR,1,0.00,N,1,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-06-01 13
10,1,Newark Airport,EWR,1,0.18,N,1,79.00,0.0,0.5,19.26,16.50,0.3,115.56,2018-06-01 13
11,1,Newark Airport,EWR,1,0.00,N,1,52.00,0.0,0.5,0.00,0.00,0.3,52.80,2018-06-01 13
12,1,Newark Airport,EWR,1,0.11,N,2,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-06-01 13
13,1,Newark Airport,EWR,1,0.00,N,1,20.00,0.0,0.0,4.06,0.00,0.3,24.36,2018-06-01 14
14,1,Newark Airport,EWR,1,0.00,N,2,114.00,0.0,0.0,0.00,0.00,0.3,114.30,2018-06-01 14
15,1,Newark Airport,EWR,0,0.00,N,1,85.00,0.0,0.0,17.05,0.00,0.3,102.35,2018-06-01 14
16,1,Newark Airport,EWR,1,0.00,N,1,107.00,0.0,0.0,21.46,0.00,0.3,128.76,2018-06-01 14
17,1,Newark Airport,EWR,1,0.00,N,1,105.00,0.0,0.5,0.00,0.00,0.3,105.80,2018-06-01 15
18,1,Newark Airport,EWR,1,0.20,N,1,100.00,0.0,0.0,20.05,0.00,0.3,120.35,2018-06-01 16
19,1,Newark Airport,EWR,1,0.00,N,1,140.00,0.0,0.0,0.00,0.00,0.3,140.30,2018-06-01 16
20,1,Newark Airport,EWR,2,0.00,N,1,20.00,1.0,0.0,80.00,0.00,0.3,101.30,2018-06-01 16
21,1,Newark Airport,EWR,2,0.00,N,1,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-06-01 18
22,1,Newark Airport,EWR,1,0.00,N,1,120.00,0.0,0.5,0.00,0.00,0.3,120.80,2018-06-01 22
23,1,Newark Airport,EWR,1,0.00,N,1,135.00,0.0,0.0,20.00,10.50,0.3,165.80,2018-06-02 0
24,1,Newark Airport,EWR,2,0.00,N,1,155.00,0.0,0.0,0.00,0.00,0.3,155.30,2018-06-02 1
25,1,Newark Airport,EWR,2,0.40,N,1,75.00,0.0,0.0,18.80,18.75,0.3,112.85,2018-06-02 6
26,1,Newark Airport,EWR,1,0.00,N,2,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-06-02 7
27,1,Newark Airport,EWR,1,0.00,N,3,-2.50,0.0,-0.5,0.00,0.00,-0.3,-3.30,2018-06-02 8
28,1,Newark Airport,EWR,1,0.00,N,2,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2018-06-02 8
29,1,Newark Airport,EWR,1,0.22,N,1,80.00,0.0,0.0,16.06,0.00,0.3,96.36,2018-06-02 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8713801,265,NaN,NaN,4,1.50,N,4,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-06-30 19
8713802,265,NaN,NaN,6,0.00,N,2,3.00,0.0,0.5,0.00,0.00,0.3,3.80,2018-06-30 19
8713803,265,NaN,NaN,2,0.00,N,4,137.80,0.0,0.0,0.00,0.00,0.3,138.10,2018-06-30 19
8713804,265,NaN,NaN,2,0.00,N,4,137.80,0.0,0.0,0.00,0.00,0.3,138.10,2018-06-30 19
8713805,265,NaN,NaN,1,0.00,N,1,75.00,0.0,0.5,0.00,0.00,0.3,75.80,2018-06-30 19
8713806,265,NaN,NaN,1,0.00,N,1,45.00,0.0,0.0,0.00,12.50,0.3,57.80,2018-06-30 19
8713807,265,NaN,NaN,1,0.00,N,1,150.00,0.0,0.0,0.00,0.00,0.3,150.30,2018-06-30 20
8713808,265,NaN,NaN,1,0.00,N,1,22.80,0.0,0.0,0.00,0.00,0.3,23.10,2018-06-30 20
8713809,265,NaN,NaN,1,17.60,N,1,51.00,0.5,0.5,0.00,5.76,0.3,58.06,2018-06-30 20
8713810,265,NaN,NaN,2,0.17,N,2,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-06-30 20
8713811,265,NaN,NaN,1,0.58,N,1,5.00,0.5,0.5,1.00,0.00,0.3,7.30,2018-06-30 21
8713812,265,NaN,NaN,3,0.00,N,1,175.00,0.0,0.0,0.00,0.00,0.3,175.30,2018-06-30 21
8713813,265,NaN,NaN,2,0.20,N,2,3.00,0.5,0.5,0.00,0.00,0.3,4.30,2018-06-30 21
8713814,265,NaN,NaN,1,0.00,N,1,185.00,0.0,0.0,0.00,0.00,0.3,185.30,2018-06-30 21
8713815,265,NaN,NaN,1,16.60,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-06-30 21
8713816,265,NaN,NaN,0,16.60,N,1,90.00,0.0,0.0,5.00,10.50,0.3,105.80,2018-06-30 21
8713817,265,NaN,NaN,1,0.00,N,2,54.44,0.0,0.0,0.00,0.00,0.3,54.74,2018-06-30 22
8713818,265,NaN,NaN,4,1.10,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-06-30 22
8713819,265,NaN,NaN,1,0.00,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-06-30 22
8713820,265,NaN,NaN,3,0.00,N,1,127.00,0.0,0.0,25.45,0.00,0.3,152.75,2018-06-30 22
8713821,265,NaN,NaN,4,0.00,N,1,40.00,0.0,0.0,20.00,10.50,0.3,70.80,2018-06-30 22
8713822,265,NaN,NaN,1,0.60,N,1,5.00,0.5,0.5,1.26,0.00,0.3,7.56,2018-06-30 22
8713823,265,NaN,NaN,1,1.60,N,2,42.00,0.0,0.0,0.00,0.00,0.3,42.30,2018-06-30 22
8713824,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.0,24.06,0.00,0.3,144.36,2018-06-30 23
8713825,265,NaN,NaN,2,0.20,N,1,85.00,0.0,0.0,17.05,0.00,0.3,102.35,2018-06-30 23
8713826,265,NaN,NaN,1,3.19,N,1,54.00,0.0,0.5,16.32,10.50,0.3,81.62,2018-06-30 23
8713827,265,NaN,NaN,1,0.20,N,1,100.00,0.0,0.0,20.05,0.00,0.3,120.35,2018-06-30 23
8713828,265,NaN,NaN,4,0.00,N,1,120.00,0.0,0.5,0.01,0.00,0.3,120.81,2018-06-30 23
8713829,265,NaN,NaN,1,2.34,N,1,50.00,0.0,0.0,12.16,10.50,0.3,72.96,2018-06-30 23
8713830,265,NaN,NaN,2,0.00,N,1,80.00,0.0,0.0,0.00,0.00,0.3,80.30,2018-06-30 23

In [10]:
df_June['CabRequest']=1
summaries5 = df_June.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries5)
summaries5.to_csv('Combined_June2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-06-01 14 Boro Zone              1         17.02
                        2018-06-01 2  Boro Zone              1         13.30
                        2018-06-01 6  Boro Zone              1         49.56
                        2018-06-01 8  Boro Zone              1         27.30
                        2018-06-02 22 Boro Zone              1         15.30
                        2018-06-03 14 Boro Zone              1         20.80
                        2018-06-03 19 Boro Zone              1         17.80
                        2018-06-03 23 Boro Zone              1         54.06
                        2018-06-03 9  Boro Zone              3         74.57
                        2018-06-04 21 Boro Zone              1         25.80
                        2018-06-05 15 Boro Zone              1         15.80
                        2018-06-06 15 Boro Zone              1         59.94
                        2018-06-06 18 Boro Zone              1         43.06
                        2018-06-06 6  Boro Zone              1         51.06
                        2018-06-08 12 Boro Zone              1         56.94
                        2018-06-08 14 Boro Zone              2         85.74
                        2018-06-09 18 Boro Zone              1         32.80
                        2018-06-09 2  Boro Zone              1         51.36
                        2018-06-09 8  Boro Zone              1         29.80
                        2018-06-10 0  Boro Zone              1         10.30
                        2018-06-10 1  Boro Zone              1         12.80
                        2018-06-10 9  Boro Zone              1          4.80
                        2018-06-11 16 Boro Zone              1         12.80
                        2018-06-11 20 Boro Zone              2         63.36
                        2018-06-11 6  Boro Zone              1         54.12
                        2018-06-11 8  Boro Zone              1         14.30
                        2018-06-12 12 Boro Zone              1         25.30
                        2018-06-12 15 Boro Zone              1         45.34
                        2018-06-12 18 Boro Zone              1         28.30
                        2018-06-12 9  Boro Zone              2         72.74
...                                                        ...           ...
Yorkville West          2018-06-30 0  Yellow Zone          170       2228.80
                        2018-06-30 1  Yellow Zone          147       1865.24
                        2018-06-30 10 Yellow Zone          260       3153.03
                        2018-06-30 11 Yellow Zone          326       4124.87
                        2018-06-30 12 Yellow Zone          293       3768.64
                        2018-06-30 13 Yellow Zone          318       4228.59
                        2018-06-30 14 Yellow Zone          262       2802.98
                        2018-06-30 15 Yellow Zone          237       2776.20
                        2018-06-30 16 Yellow Zone          251       2800.38
                        2018-06-30 17 Yellow Zone          243       2614.30
                        2018-06-30 18 Yellow Zone          267       3370.54
                        2018-06-30 19 Yellow Zone          241       2976.45
                        2018-06-30 2  Yellow Zone          100       1292.07
                        2018-06-30 20 Yellow Zone          211       2722.61
                        2018-06-30 21 Yellow Zone          216       2735.00
                        2018-06-30 22 Yellow Zone          229       2854.32
                        2018-06-30 23 Yellow Zone          167       2317.51
                        2018-06-30 3  Yellow Zone           70        934.30
                        2018-06-30 4  Yellow Zone           60       1049.84
                        2018-06-30 5  Yellow Zone           56       1396.91
                        2018-06-30 6  Yellow Zone          109       2222.65
                        2018-06-30 7  Yellow Zone          148       2204.50
                        2018-06-30 8  Yellow Zone          199       2527.96
                        2018-06-30 9  Yellow Zone          263       3401.23
                        2018-07-01 19 Yellow Zone            1          4.56
                        2018-09-06 0  Yellow Zone            1          7.80
                        2018-09-06 1  Yellow Zone            1         15.54
                        2018-09-09 17 Yellow Zone            1          8.16
                        2018-11-30 8  Yellow Zone            1          4.30
                        2019-01-08 0  Yellow Zone            1          9.30

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-06-01 14 Boro Zone           2.22
                        2018-06-01 2  Boro Zone           0.00
                        2018-06-01 6  Boro Zone           0.00
                        2018-06-01 8  Boro Zone           0.00
                        2018-06-02 22 Boro Zone           0.00
                        2018-06-03 14 Boro Zone           0.00
                        2018-06-03 19 Boro Zone           0.00
                        2018-06-03 23 Boro Zone           0.00
                        2018-06-03 9  Boro Zone           4.67
                        2018-06-04 21 Boro Zone           0.00
                        2018-06-05 15 Boro Zone           0.00
                        2018-06-06 15 Boro Zone           0.00
                        2018-06-06 18 Boro Zone           0.00
                        2018-06-06 6  Boro Zone           0.00
                        2018-06-08 12 Boro Zone           0.00
                        2018-06-08 14 Boro Zone           1.00
                        2018-06-09 18 Boro Zone           0.00
                        2018-06-09 2  Boro Zone           8.56
                        2018-06-09 8  Boro Zone           0.00
                        2018-06-10 0  Boro Zone           0.00
                        2018-06-10 1  Boro Zone           0.00
                        2018-06-10 9  Boro Zone           0.00
                        2018-06-11 16 Boro Zone           0.00
                        2018-06-11 20 Boro Zone           0.00
                        2018-06-11 6  Boro Zone           7.06
                        2018-06-11 8  Boro Zone           0.00
                        2018-06-12 12 Boro Zone           0.00
                        2018-06-12 15 Boro Zone           0.00
                        2018-06-12 18 Boro Zone           0.00
                        2018-06-12 9  Boro Zone           0.00
...                                                        ...
Yorkville West          2018-06-30 0  Yellow Zone       255.62
                        2018-06-30 1  Yellow Zone       199.79
                        2018-06-30 10 Yellow Zone       366.21
                        2018-06-30 11 Yellow Zone       507.11
                        2018-06-30 12 Yellow Zone       442.21
                        2018-06-30 13 Yellow Zone       510.62
                        2018-06-30 14 Yellow Zone       316.08
                        2018-06-30 15 Yellow Zone       321.78
                        2018-06-30 16 Yellow Zone       312.88
                        2018-06-30 17 Yellow Zone       323.60
                        2018-06-30 18 Yellow Zone       347.34
                        2018-06-30 19 Yellow Zone       374.45
                        2018-06-30 2  Yellow Zone       126.57
                        2018-06-30 20 Yellow Zone       307.29
                        2018-06-30 21 Yellow Zone       330.89
                        2018-06-30 22 Yellow Zone       321.86
                        2018-06-30 23 Yellow Zone       261.41
                        2018-06-30 3  Yellow Zone        86.16
                        2018-06-30 4  Yellow Zone        89.26
                        2018-06-30 5  Yellow Zone       142.69
                        2018-06-30 6  Yellow Zone       277.33
                        2018-06-30 7  Yellow Zone       276.08
                        2018-06-30 8  Yellow Zone       314.70
                        2018-06-30 9  Yellow Zone       398.23
                        2018-07-01 19 Yellow Zone         0.76
                        2018-09-06 0  Yellow Zone         0.00
                        2018-09-06 1  Yellow Zone         0.74
                        2018-09-09 17 Yellow Zone         1.36
                        2018-11-30 8  Yellow Zone         0.00
                        2019-01-08 0  Yellow Zone         0.00

[93928 rows x 3 columns]

In [11]:
tp6 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-07.csv', iterator=True, chunksize=1000)
df7= pd.concat(tp6, ignore_index=True)

In [12]:
df_July=pd.merge(df_lookup,df7, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [13]:
df_July['Time'] = pd.to_datetime(df_July.tpep_pickup_datetime)
df_July['hour']= df_July.Time.dt.hour
df_July['date']= df_July.Time.dt.date

In [14]:
df_July['PickupTime']= df_July['date'].map(str) +" " +df_July['hour'].map(str)

In [15]:
df_July.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.0,0.00,0.00,0.3,80.30,2018-07-01 3
1,1,Newark Airport,EWR,1,0.00,N,2,107.00,0.0,0.0,0.00,0.00,0.3,107.30,2018-07-01 6
2,1,Newark Airport,EWR,1,17.60,N,1,85.00,0.0,0.0,2.00,0.00,0.3,87.30,2018-07-01 7
3,1,Newark Airport,EWR,1,0.00,N,1,52.00,0.0,0.5,80.00,0.00,0.3,132.80,2018-07-01 8
4,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.0,0.00,0.00,0.3,80.30,2018-07-01 10
5,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.0,0.00,0.00,0.3,95.30,2018-07-01 9
6,1,Newark Airport,EWR,1,0.00,N,1,98.00,0.0,0.5,19.76,0.00,0.3,118.56,2018-07-01 10
7,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.5,17.16,0.00,0.3,102.96,2018-07-01 10
8,1,Newark Airport,EWR,2,0.07,N,1,96.00,0.0,0.0,10.00,18.00,0.3,124.30,2018-07-01 11
9,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.5,10.00,0.00,0.3,105.80,2018-07-01 12
10,1,Newark Airport,EWR,2,0.00,N,1,96.00,0.0,0.0,22.71,17.27,0.3,136.28,2018-07-01 13
11,1,Newark Airport,EWR,3,1.40,N,1,90.00,0.0,0.0,5.00,0.00,0.3,95.30,2018-07-01 14
12,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,0.00,0.00,0.3,80.30,2018-07-01 15
13,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.0,0.00,25.00,0.3,115.30,2018-07-01 15
14,1,Newark Airport,EWR,1,0.00,N,1,25.00,0.0,0.5,0.00,0.00,0.3,25.80,2018-07-01 15
15,1,Newark Airport,EWR,1,0.00,N,1,30.00,0.0,0.5,0.00,0.00,0.3,30.80,2018-07-01 15
16,1,Newark Airport,EWR,1,0.12,N,1,25.00,0.0,0.5,0.00,0.00,0.0,25.50,2018-07-01 15
17,1,Newark Airport,EWR,1,0.01,N,1,25.00,0.0,0.5,0.00,0.00,0.3,25.80,2018-07-01 15
18,1,Newark Airport,EWR,2,0.30,N,1,80.00,0.0,0.5,0.00,19.50,0.3,100.30,2018-07-01 15
19,1,Newark Airport,EWR,3,0.00,N,1,65.50,0.0,0.0,19.05,10.50,0.3,95.35,2018-07-01 15
20,1,Newark Airport,EWR,2,0.00,N,1,90.00,0.0,0.5,18.16,0.00,0.3,108.96,2018-07-01 16
21,1,Newark Airport,EWR,2,0.00,N,1,38.00,0.0,0.0,0.00,0.00,0.3,38.30,2018-07-01 16
22,1,Newark Airport,EWR,2,0.00,N,1,61.00,0.0,0.5,14.86,12.50,0.3,89.16,2018-07-01 16
23,1,Newark Airport,EWR,1,0.00,N,1,126.00,0.0,0.5,25.36,0.00,0.3,152.16,2018-07-01 17
24,1,Newark Airport,EWR,1,19.20,N,1,85.00,0.0,0.0,20.00,24.50,0.3,129.80,2018-07-01 18
25,1,Newark Airport,EWR,1,0.00,N,1,65.00,0.0,0.0,5.00,0.00,0.3,70.30,2018-07-01 20
26,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,10.00,0.00,0.3,90.30,2018-07-02 3
27,1,Newark Airport,EWR,1,0.00,N,1,90.00,0.0,0.0,15.00,0.00,0.3,105.30,2018-07-02 4
28,1,Newark Airport,EWR,1,0.00,N,1,92.00,0.0,0.5,0.00,17.15,0.3,109.95,2018-07-02 6
29,1,Newark Airport,EWR,1,0.00,N,1,2.50,0.0,0.5,95.00,0.00,0.3,98.30,2018-07-02 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7849718,265,NaN,NaN,1,0.00,N,2,28.00,0.5,0.5,0.00,0.00,0.3,29.30,2018-07-31 19
7849719,265,NaN,NaN,1,0.78,N,1,6.50,1.0,0.5,1.00,0.00,0.3,9.30,2018-07-31 19
7849720,265,NaN,NaN,1,0.00,N,1,93.75,0.0,0.0,15.00,0.00,0.3,109.05,2018-07-31 19
7849721,265,NaN,NaN,1,10.78,N,1,34.00,1.0,0.5,0.00,0.00,0.3,35.80,2018-07-31 19
7849722,265,NaN,NaN,1,0.10,N,1,130.00,0.0,0.0,10.00,0.00,0.3,140.30,2018-07-31 19
7849723,265,NaN,NaN,5,0.00,N,1,50.00,0.0,0.5,20.00,0.00,0.3,70.80,2018-07-31 19
7849724,265,NaN,NaN,1,0.00,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-07-31 20
7849725,265,NaN,NaN,1,0.00,N,1,60.00,0.0,0.0,6.00,0.00,0.3,66.30,2018-07-31 21
7849726,265,NaN,NaN,1,0.00,N,1,133.00,0.0,0.5,26.76,0.00,0.3,160.56,2018-07-31 20
7849727,265,NaN,NaN,1,0.00,N,2,361.50,0.5,0.5,0.00,0.00,0.3,362.80,2018-07-31 21
7849728,265,NaN,NaN,1,1.60,N,4,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-07-31 21
7849729,265,NaN,NaN,1,1.60,N,1,70.00,0.0,0.0,5.50,0.00,0.3,75.80,2018-07-31 21
7849730,265,NaN,NaN,1,0.00,N,1,258.00,0.0,0.0,53.75,10.50,0.3,322.55,2018-07-31 21
7849731,265,NaN,NaN,1,0.00,N,1,138.00,0.0,0.0,0.00,0.00,0.3,138.30,2018-07-31 21
7849732,265,NaN,NaN,1,0.00,N,1,114.00,0.0,0.0,22.86,0.00,0.3,137.16,2018-07-31 21
7849733,265,NaN,NaN,3,0.00,N,2,92.00,0.0,0.0,0.00,16.26,0.3,108.56,2018-07-31 21
7849734,265,NaN,NaN,1,0.65,N,1,103.00,0.0,0.0,10.00,0.00,0.3,113.30,2018-07-31 22
7849735,265,NaN,NaN,1,0.00,N,1,45.00,0.0,0.0,0.45,0.00,0.3,45.75,2018-07-31 22
7849736,265,NaN,NaN,1,3.00,Y,4,20.00,0.5,0.0,0.00,0.00,0.3,20.80,2018-07-31 22
7849737,265,NaN,NaN,1,0.80,N,1,50.00,0.0,0.0,12.15,10.50,0.3,72.95,2018-07-31 22
7849738,265,NaN,NaN,1,0.70,N,1,65.00,0.0,0.0,5.00,0.00,0.3,70.30,2018-07-31 22
7849739,265,NaN,NaN,1,1.45,N,1,7.00,0.5,0.5,1.66,0.00,0.3,9.96,2018-07-31 22
7849740,265,NaN,NaN,1,1.42,N,1,8.00,0.5,0.5,1.86,0.00,0.3,11.16,2018-07-31 22
7849741,265,NaN,NaN,1,4.04,N,1,15.50,0.5,0.5,1.00,0.00,0.3,17.80,2018-07-31 22
7849742,265,NaN,NaN,1,23.90,N,3,63.50,0.5,0.5,0.00,0.00,0.3,64.80,2018-07-31 22
7849743,265,NaN,NaN,1,0.00,N,1,30.00,0.0,0.5,3.00,0.00,0.3,33.80,2018-07-31 23
7849744,265,NaN,NaN,1,3.10,N,1,45.00,0.0,0.0,5.00,0.00,0.3,50.30,2018-07-31 23
7849745,265,NaN,NaN,6,8.15,N,1,26.00,0.5,0.5,0.00,0.00,0.3,27.30,2018-07-31 23
7849746,265,NaN,NaN,1,23.20,N,3,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-07-31 23
7849747,265,NaN,NaN,1,0.00,N,1,165.00,0.0,0.0,0.00,0.00,0.3,165.30,2018-07-31 23

In [16]:
df_July['CabRequest']=1
summaries6 = df_July.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries6)
summaries6.to_csv('Combined_July2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-07-01 12 Boro Zone              2         94.76
                        2018-07-01 14 Boro Zone              1         22.30
                        2018-07-01 23 Boro Zone              1          4.30
                        2018-07-02 14 Boro Zone              1         29.30
                        2018-07-02 15 Boro Zone              1         12.80
                        2018-07-03 12 Boro Zone              1          9.80
                        2018-07-03 15 Boro Zone              1         14.72
                        2018-07-03 7  Boro Zone              1         46.56
                        2018-07-04 18 Boro Zone              1         66.56
                        2018-07-04 19 Boro Zone              1         63.56
                        2018-07-05 7  Boro Zone              1          8.97
                        2018-07-06 14 Boro Zone              1         50.56
                        2018-07-06 18 Boro Zone              1         10.80
                        2018-07-06 21 Boro Zone              1         13.30
                        2018-07-07 12 Boro Zone              1         54.80
                        2018-07-07 14 Boro Zone              1         34.30
                        2018-07-07 6  Boro Zone              1          7.25
                        2018-07-08 12 Boro Zone              1         28.80
                        2018-07-08 19 Boro Zone              1         39.56
                        2018-07-08 20 Boro Zone              1         78.06
                        2018-07-09 18 Boro Zone              1         59.56
                        2018-07-10 10 Boro Zone              1         18.80
                        2018-07-10 7  Boro Zone              1         50.56
                        2018-07-10 8  Boro Zone              1         10.70
                        2018-07-11 12 Boro Zone              1         18.30
                        2018-07-12 10 Boro Zone              1         56.30
                        2018-07-13 16 Boro Zone              2         20.10
                        2018-07-14 13 Boro Zone              1         27.30
                        2018-07-14 19 Boro Zone              1          9.80
                        2018-07-15 14 Boro Zone              1         13.30
...                                                        ...           ...
Yorkville West          2018-07-30 5  Yellow Zone           86       1791.68
                        2018-07-30 6  Yellow Zone          194       3056.52
                        2018-07-30 7  Yellow Zone          275       3677.00
                        2018-07-30 8  Yellow Zone          295       4394.64
                        2018-07-30 9  Yellow Zone          274       3707.76
                        2018-07-31 0  Yellow Zone           60        795.74
                        2018-07-31 1  Yellow Zone           32        492.36
                        2018-07-31 10 Yellow Zone          254       3279.80
                        2018-07-31 11 Yellow Zone          226       2765.42
                        2018-07-31 12 Yellow Zone          201       2225.09
                        2018-07-31 13 Yellow Zone          234       2656.38
                        2018-07-31 14 Yellow Zone          235       2964.97
                        2018-07-31 15 Yellow Zone          219       2740.92
                        2018-07-31 16 Yellow Zone          206       2353.58
                        2018-07-31 17 Yellow Zone          239       3091.80
                        2018-07-31 18 Yellow Zone          268       3166.10
                        2018-07-31 19 Yellow Zone          244       3097.57
                        2018-07-31 2  Yellow Zone           22        339.39
                        2018-07-31 20 Yellow Zone          225       2683.00
                        2018-07-31 21 Yellow Zone          265       3186.94
                        2018-07-31 22 Yellow Zone          229       2698.40
                        2018-07-31 23 Yellow Zone          129       1688.16
                        2018-07-31 3  Yellow Zone           23        252.49
                        2018-07-31 4  Yellow Zone           26        491.21
                        2018-07-31 5  Yellow Zone           79       1331.82
                        2018-07-31 6  Yellow Zone          207       2742.50
                        2018-07-31 7  Yellow Zone          292       4027.56
                        2018-07-31 8  Yellow Zone          327       4706.48
                        2018-07-31 9  Yellow Zone          285       3784.54
                        2018-09-29 0  Yellow Zone            1         14.72

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-07-01 12 Boro Zone           0.00
                        2018-07-01 14 Boro Zone           0.00
                        2018-07-01 23 Boro Zone           0.00
                        2018-07-02 14 Boro Zone           0.00
                        2018-07-02 15 Boro Zone           0.00
                        2018-07-03 12 Boro Zone           0.00
                        2018-07-03 15 Boro Zone           1.92
                        2018-07-03 7  Boro Zone           0.00
                        2018-07-04 18 Boro Zone           0.00
                        2018-07-04 19 Boro Zone           0.00
                        2018-07-05 7  Boro Zone           1.17
                        2018-07-06 14 Boro Zone           0.00
                        2018-07-06 18 Boro Zone           0.00
                        2018-07-06 21 Boro Zone           0.00
                        2018-07-07 12 Boro Zone           0.00
                        2018-07-07 14 Boro Zone           0.00
                        2018-07-07 6  Boro Zone           1.45
                        2018-07-08 12 Boro Zone           0.00
                        2018-07-08 19 Boro Zone           0.00
                        2018-07-08 20 Boro Zone           0.00
                        2018-07-09 18 Boro Zone           0.00
                        2018-07-10 10 Boro Zone           0.00
                        2018-07-10 7  Boro Zone           0.00
                        2018-07-10 8  Boro Zone           1.40
                        2018-07-11 12 Boro Zone           0.00
                        2018-07-12 10 Boro Zone           0.00
                        2018-07-13 16 Boro Zone           0.00
                        2018-07-14 13 Boro Zone           0.00
                        2018-07-14 19 Boro Zone           0.00
                        2018-07-15 14 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-07-30 5  Yellow Zone       247.19
                        2018-07-30 6  Yellow Zone       363.46
                        2018-07-30 7  Yellow Zone       457.19
                        2018-07-30 8  Yellow Zone       549.32
                        2018-07-30 9  Yellow Zone       470.10
                        2018-07-31 0  Yellow Zone        79.98
                        2018-07-31 1  Yellow Zone        36.50
                        2018-07-31 10 Yellow Zone       358.56
                        2018-07-31 11 Yellow Zone       299.43
                        2018-07-31 12 Yellow Zone       221.25
                        2018-07-31 13 Yellow Zone       271.36
                        2018-07-31 14 Yellow Zone       287.41
                        2018-07-31 15 Yellow Zone       254.78
                        2018-07-31 16 Yellow Zone       269.26
                        2018-07-31 17 Yellow Zone       283.68
                        2018-07-31 18 Yellow Zone       378.16
                        2018-07-31 19 Yellow Zone       392.85
                        2018-07-31 2  Yellow Zone        41.53
                        2018-07-31 20 Yellow Zone       325.72
                        2018-07-31 21 Yellow Zone       412.18
                        2018-07-31 22 Yellow Zone       314.70
                        2018-07-31 23 Yellow Zone       185.19
                        2018-07-31 3  Yellow Zone        18.59
                        2018-07-31 4  Yellow Zone        47.11
                        2018-07-31 5  Yellow Zone       152.55
                        2018-07-31 6  Yellow Zone       348.02
                        2018-07-31 7  Yellow Zone       531.89
                        2018-07-31 8  Yellow Zone       608.21
                        2018-07-31 9  Yellow Zone       466.41
                        2018-09-29 0  Yellow Zone         1.92

[93518 rows x 3 columns]

In [17]:
tp7 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-08.csv', iterator=True, chunksize=1000)
df8= pd.concat(tp7, ignore_index=True)

In [18]:
df_August=pd.merge(df_lookup,df8, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [19]:
df_August['Time'] = pd.to_datetime(df_August.tpep_pickup_datetime)
df_August['hour']= df_August.Time.dt.hour
df_August['date']= df_August.Time.dt.date

In [20]:
df_August['PickupTime']= df_August['date'].map(str) +" " +df_August['hour'].map(str)

In [22]:
df_August.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime,CabRequest
0,1,Newark Airport,EWR,1,0.00,N,1,88.00,0.0,0.5,17.76,0.0,0.3,106.56,2018-08-01 0,1
1,1,Newark Airport,EWR,3,0.00,N,2,101.00,0.0,0.5,0.00,0.0,0.3,101.80,2018-08-01 5,1
2,1,Newark Airport,EWR,1,0.01,N,1,80.00,0.0,0.5,8.00,10.5,0.3,99.30,2018-08-01 4,1
3,1,Newark Airport,EWR,1,2.30,N,1,108.50,0.0,0.0,21.75,0.0,0.3,130.55,2018-08-01 5,1
4,1,Newark Airport,EWR,5,0.00,N,1,85.00,0.0,0.0,17.06,0.0,0.3,102.36,2018-08-01 5,1
5,1,Newark Airport,EWR,2,0.00,N,1,81.00,0.0,0.0,16.25,0.0,0.3,97.55,2018-08-01 6,1
6,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,16.05,0.0,0.3,96.35,2018-08-01 6,1
7,1,Newark Airport,EWR,1,0.00,N,2,2.50,0.0,0.5,0.00,0.0,0.3,3.30,2018-08-01 7,1
8,1,Newark Airport,EWR,3,0.00,N,1,89.00,0.0,0.0,17.85,0.0,0.3,107.15,2018-08-01 10,1
9,1,Newark Airport,EWR,1,0.00,N,1,108.00,0.0,0.5,21.76,0.0,0.3,130.56,2018-08-01 11,1
10,1,Newark Airport,EWR,2,0.00,N,1,110.00,0.0,0.0,5.55,0.0,0.3,115.85,2018-08-01 13,1
11,1,Newark Airport,EWR,4,11.60,N,1,78.00,0.0,0.0,19.25,18.0,0.3,115.55,2018-08-01 14,1
12,1,Newark Airport,EWR,2,0.00,N,1,95.00,0.0,0.0,19.05,0.0,0.3,114.35,2018-08-01 15,1
13,1,Newark Airport,EWR,1,15.80,N,3,80.80,0.0,0.0,0.00,0.0,0.3,81.10,2018-08-01 15,1
14,1,Newark Airport,EWR,5,0.00,N,1,96.00,0.0,0.5,0.00,18.0,0.3,114.80,2018-08-01 17,1
15,1,Newark Airport,EWR,1,14.80,N,3,20.00,1.0,0.0,0.00,0.0,0.3,21.30,2018-08-01 17,1
16,1,Newark Airport,EWR,1,14.80,N,1,105.00,0.0,0.0,15.00,0.0,0.3,120.30,2018-08-01 17,1
17,1,Newark Airport,EWR,1,0.00,N,2,2.50,1.0,0.5,0.00,0.0,0.3,4.30,2018-08-01 17,1
18,1,Newark Airport,EWR,1,0.00,N,2,105.00,0.0,0.0,0.00,0.0,0.3,105.30,2018-08-01 18,1
19,1,Newark Airport,EWR,1,0.13,N,1,85.00,0.0,0.0,10.00,0.0,0.3,95.30,2018-08-01 18,1
20,1,Newark Airport,EWR,1,0.00,N,1,100.00,0.0,0.5,25.20,0.0,0.3,126.00,2018-08-01 19,1
21,1,Newark Airport,EWR,4,0.00,N,1,120.00,0.0,0.0,0.00,0.0,0.3,120.30,2018-08-01 19,1
22,1,Newark Airport,EWR,4,0.00,N,1,75.00,0.0,0.0,20.00,17.0,0.3,112.30,2018-08-02 9,1
23,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,20.05,0.0,0.3,100.35,2018-08-02 9,1
24,1,Newark Airport,EWR,2,1.10,N,1,78.00,0.0,0.0,20.00,16.3,0.3,114.60,2018-08-02 12,1
25,1,Newark Airport,EWR,1,0.00,N,1,66.30,0.0,0.0,13.30,0.0,0.3,79.90,2018-08-02 12,1
26,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.0,21.06,20.0,0.3,126.36,2018-08-02 12,1
27,1,Newark Airport,EWR,1,0.00,N,1,70.00,0.0,0.5,15.00,16.0,0.3,101.80,2018-08-02 12,1
28,1,Newark Airport,EWR,1,0.00,N,1,175.00,0.0,0.5,20.00,0.0,0.3,195.80,2018-08-02 14,1
29,1,Newark Airport,EWR,2,2.90,Y,3,20.00,1.0,0.0,0.00,0.0,0.3,21.30,2018-08-02 16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7849104,265,NaN,NaN,2,0.00,N,1,140.00,0.0,0.0,22.08,0.0,0.3,162.38,2018-08-31 18,1
7849105,265,NaN,NaN,1,3.34,N,2,13.00,1.0,0.5,0.00,0.0,0.3,14.80,2018-08-31 18,1
7849106,265,NaN,NaN,1,0.00,N,2,90.00,0.0,0.0,0.00,0.0,0.3,90.30,2018-08-31 18,1
7849107,265,NaN,NaN,0,3.20,N,1,17.50,1.0,0.5,2.00,12.5,0.3,33.80,2018-08-31 18,1
7849108,265,NaN,NaN,4,0.00,N,1,178.00,0.0,0.5,35.76,0.0,0.3,214.56,2018-08-31 18,1
7849109,265,NaN,NaN,1,0.00,N,1,60.00,0.0,0.0,15.05,0.0,0.3,75.35,2018-08-31 18,1
7849110,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.5,0.00,18.0,0.3,138.80,2018-08-31 19,1
7849111,265,NaN,NaN,3,0.00,N,1,110.00,0.0,0.0,10.00,0.0,0.3,120.30,2018-08-31 20,1
7849112,265,NaN,NaN,4,0.00,N,1,170.00,0.0,0.0,0.00,0.0,0.3,170.30,2018-08-31 19,1
7849113,265,NaN,NaN,2,0.00,N,3,-3.50,-0.5,-0.5,0.00,0.0,-0.3,-4.80,2018-08-31 20,1
7849114,265,NaN,NaN,2,0.00,N,2,3.50,0.5,0.5,0.00,0.0,0.3,4.80,2018-08-31 20,1
7849115,265,NaN,NaN,2,0.00,N,1,130.00,0.0,0.5,0.00,0.0,0.3,130.80,2018-08-31 20,1
7849116,265,NaN,NaN,1,0.00,N,1,70.00,0.0,0.0,5.00,0.0,0.3,75.30,2018-08-31 20,1
7849117,265,NaN,NaN,1,0.00,N,1,166.00,0.0,0.0,33.25,0.0,0.3,199.55,2018-08-31 21,1
7849118,265,NaN,NaN,1,0.00,N,1,250.00,0.0,0.5,0.20,0.0,0.3,251.00,2018-08-31 21,1
7849119,265,NaN,NaN,1,1.22,N,2,8.00,0.5,0.5,0.00,0.0,0.3,9.30,2018-08-31 21,1
7849120,265,NaN,NaN,1,1.30,N,2,2.50,0.5,0.5,0.00,0.0,0.3,3.80,2018-08-31 21,1
7849121,265,NaN,NaN,1,0.07,N,2,2.50,0.5,0.5,0.00,0.0,0.3,3.80,2018-08-31 21,1
7849122,265,NaN,NaN,1,0.00,N,1,85.00,0.0,0.0,10.00,0.0,0.3,95.30,2018-08-31 22,1
7849123,265,NaN,NaN,1,0.29,N,2,170.00,0.0,0.0,0.00,0.0,0.3,170.30,2018-08-31 22,1
7849124,265,NaN,NaN,1,0.00,N,1,80.00,0.0,0.0,18.16,10.5,0.3,108.96,2018-08-31 22,1
7849125,265,NaN,NaN,1,10.20,N,1,82.00,0.0,0.0,1.00,0.0,0.3,83.30,2018-08-31 22,1
7849126,265,NaN,NaN,1,0.00,N,1,120.00,0.0,0.0,0.00,0.0,0.3,120.30,2018-08-31 23,1
7849127,265,NaN,NaN,1,0.00,N,3,2.50,0.5,0.5,0.00,0.0,0.3,3.80,2018-08-31 23,1
7849128,265,NaN,NaN,1,14.30,N,2,0.01,0.0,0.0,0.00,10.5,0.3,10.81,2018-08-31 23,1
7849129,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.0,20.05,0.0,0.3,120.35,2018-08-31 23,1
7849130,265,NaN,NaN,1,1.35,N,1,7.00,0.5,0.5,1.66,0.0,0.3,9.96,2018-08-31 23,1
7849131,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,12.58,0.0,0.3,62.88,2018-08-31 23,1
7849132,265,NaN,NaN,4,0.00,N,1,100.00,0.0,0.0,0.00,10.5,0.3,110.80,2018-08-31 23,1
7849133,265,NaN,NaN,1,0.00,N,1,160.00,0.0,0.5,32.16,0.0,0.3,192.96,2018-08-31 23,1

In [23]:
df_August['CabRequest']=1
summaries7 = df_August.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries7)
summaries7.to_csv('Combined_August2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-08-01 10 Boro Zone              1         22.80
                        2018-08-01 9  Boro Zone              2         17.60
                        2018-08-02 5  Boro Zone              1         40.06
                        2018-08-02 7  Boro Zone              1         44.06
                        2018-08-04 11 Boro Zone              1         11.30
                        2018-08-04 16 Boro Zone              1         50.80
                        2018-08-04 6  Boro Zone              1         10.80
                        2018-08-05 17 Boro Zone              1         15.30
                        2018-08-05 21 Boro Zone              1         23.80
                        2018-08-05 22 Boro Zone              2          0.00
                        2018-08-05 5  Boro Zone              1         23.80
                        2018-08-05 9  Boro Zone              1          8.80
                        2018-08-06 9  Boro Zone              1         96.06
                        2018-08-07 10 Boro Zone              1         15.80
                        2018-08-08 11 Boro Zone              1         43.80
                        2018-08-08 13 Boro Zone              1         23.30
                        2018-08-08 15 Boro Zone              1         22.80
                        2018-08-08 4  Boro Zone              1         24.30
                        2018-08-08 8  Boro Zone              1         24.80
                        2018-08-09 10 Boro Zone              1         38.26
                        2018-08-09 11 Boro Zone              1         20.57
                        2018-08-09 13 Boro Zone              1         12.30
                        2018-08-09 15 Boro Zone              1         16.80
                        2018-08-09 20 Boro Zone              1         13.00
                        2018-08-09 7  Boro Zone              1         43.56
                        2018-08-09 8  Boro Zone              1         60.44
                        2018-08-10 10 Boro Zone              1         29.80
                        2018-08-10 11 Boro Zone              5        119.25
                        2018-08-10 13 Boro Zone              2         17.10
                        2018-08-10 21 Boro Zone              1         54.56
...                                                        ...           ...
Yorkville West          2018-08-30 6  Yellow Zone          178       2464.54
                        2018-08-30 7  Yellow Zone          304       4299.22
                        2018-08-30 8  Yellow Zone          359       4992.42
                        2018-08-30 9  Yellow Zone          338       4716.32
                        2018-08-31 0  Yellow Zone           87       1203.27
                        2018-08-31 1  Yellow Zone           50        559.83
                        2018-08-31 10 Yellow Zone          213       2626.72
                        2018-08-31 11 Yellow Zone          246       3047.96
                        2018-08-31 12 Yellow Zone          257       3218.87
                        2018-08-31 13 Yellow Zone          267       3562.52
                        2018-08-31 14 Yellow Zone          273       3359.10
                        2018-08-31 15 Yellow Zone          268       3212.75
                        2018-08-31 16 Yellow Zone          253       3410.38
                        2018-08-31 17 Yellow Zone          277       4074.07
                        2018-08-31 18 Yellow Zone          255       3017.96
                        2018-08-31 19 Yellow Zone          231       3056.58
                        2018-08-31 2  Yellow Zone           42        526.34
                        2018-08-31 20 Yellow Zone          204       2417.12
                        2018-08-31 21 Yellow Zone          198       2757.45
                        2018-08-31 22 Yellow Zone          182       2262.27
                        2018-08-31 23 Yellow Zone          154       2117.63
                        2018-08-31 3  Yellow Zone           37        574.20
                        2018-08-31 4  Yellow Zone           42        857.56
                        2018-08-31 5  Yellow Zone           77       1637.81
                        2018-08-31 6  Yellow Zone          167       2612.73
                        2018-08-31 7  Yellow Zone          263       3549.26
                        2018-08-31 8  Yellow Zone          334       4890.79
                        2018-08-31 9  Yellow Zone          290       3803.22
                        2018-09-01 0  Yellow Zone            2         27.86
                        2018-10-04 7  Yellow Zone            1          6.80

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-08-01 10 Boro Zone           0.00
                        2018-08-01 9  Boro Zone           0.00
                        2018-08-02 5  Boro Zone           0.00
                        2018-08-02 7  Boro Zone           0.00
                        2018-08-04 11 Boro Zone           0.00
                        2018-08-04 16 Boro Zone           0.00
                        2018-08-04 6  Boro Zone           0.00
                        2018-08-05 17 Boro Zone           0.00
                        2018-08-05 21 Boro Zone           0.00
                        2018-08-05 22 Boro Zone           0.00
                        2018-08-05 5  Boro Zone           0.00
                        2018-08-05 9  Boro Zone           0.00
                        2018-08-06 9  Boro Zone           0.00
                        2018-08-07 10 Boro Zone           0.00
                        2018-08-08 11 Boro Zone           0.00
                        2018-08-08 13 Boro Zone           0.00
                        2018-08-08 15 Boro Zone           0.00
                        2018-08-08 4  Boro Zone           0.00
                        2018-08-08 8  Boro Zone           0.00
                        2018-08-09 10 Boro Zone           0.00
                        2018-08-09 11 Boro Zone           0.00
                        2018-08-09 13 Boro Zone           0.00
                        2018-08-09 15 Boro Zone           0.00
                        2018-08-09 20 Boro Zone           1.70
                        2018-08-09 7  Boro Zone           0.00
                        2018-08-09 8  Boro Zone           0.00
                        2018-08-10 10 Boro Zone           0.00
                        2018-08-10 11 Boro Zone          16.75
                        2018-08-10 13 Boro Zone           0.00
                        2018-08-10 21 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-08-30 6  Yellow Zone       292.56
                        2018-08-30 7  Yellow Zone       583.19
                        2018-08-30 8  Yellow Zone       646.86
                        2018-08-30 9  Yellow Zone       582.46
                        2018-08-31 0  Yellow Zone       107.91
                        2018-08-31 1  Yellow Zone        47.17
                        2018-08-31 10 Yellow Zone       304.09
                        2018-08-31 11 Yellow Zone       321.60
                        2018-08-31 12 Yellow Zone       343.46
                        2018-08-31 13 Yellow Zone       411.74
                        2018-08-31 14 Yellow Zone       402.75
                        2018-08-31 15 Yellow Zone       387.13
                        2018-08-31 16 Yellow Zone       400.88
                        2018-08-31 17 Yellow Zone       483.72
                        2018-08-31 18 Yellow Zone       359.42
                        2018-08-31 19 Yellow Zone       296.70
                        2018-08-31 2  Yellow Zone        69.74
                        2018-08-31 20 Yellow Zone       267.72
                        2018-08-31 21 Yellow Zone       331.49
                        2018-08-31 22 Yellow Zone       250.41
                        2018-08-31 23 Yellow Zone       220.96
                        2018-08-31 3  Yellow Zone        56.60
                        2018-08-31 4  Yellow Zone        92.88
                        2018-08-31 5  Yellow Zone       202.81
                        2018-08-31 6  Yellow Zone       350.57
                        2018-08-31 7  Yellow Zone       470.26
                        2018-08-31 8  Yellow Zone       598.38
                        2018-08-31 9  Yellow Zone       446.71
                        2018-09-01 0  Yellow Zone         2.76
                        2018-10-04 7  Yellow Zone         0.00

[95656 rows x 3 columns]

In [3]:
tp8 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-09.csv', iterator=True, chunksize=1000)
df9= pd.concat(tp8, ignore_index=True)

In [4]:
df_September=pd.merge(df_lookup,df9, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [5]:
df_September['Time'] = pd.to_datetime(df_September.tpep_pickup_datetime)
df_September['hour']= df_September.Time.dt.hour
df_September['date']= df_September.Time.dt.date

In [6]:
df_September['PickupTime']= df_September['date'].map(str) +" " +df_September['hour'].map(str)

In [7]:
df_September.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,4,0.00,N,1,21.30,0.0,0.5,4.42,0.00,0.3,26.52,2018-09-01 4
1,1,Newark Airport,EWR,1,0.03,N,1,95.00,0.0,0.5,19.16,0.00,0.3,114.96,2018-09-01 6
2,1,Newark Airport,EWR,2,0.30,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-09-01 9
3,1,Newark Airport,EWR,2,0.30,N,1,80.00,0.0,0.0,16.05,0.00,0.3,96.35,2018-09-01 9
4,1,Newark Airport,EWR,1,17.80,N,2,20.00,0.0,0.0,0.00,0.00,0.3,20.30,2018-09-01 9
5,1,Newark Airport,EWR,1,0.70,N,1,85.00,0.0,0.0,10.00,16.50,0.3,111.80,2018-09-01 9
6,1,Newark Airport,EWR,9,0.00,N,1,92.00,0.0,0.0,18.46,0.00,0.3,110.76,2018-09-01 11
7,1,Newark Airport,EWR,2,0.00,N,1,78.00,0.0,0.5,18.26,12.50,0.3,109.56,2018-09-01 14
8,1,Newark Airport,EWR,1,3.70,N,1,55.00,0.0,0.0,0.00,0.00,0.3,55.30,2018-09-01 14
9,1,Newark Airport,EWR,4,0.00,N,1,72.00,0.0,0.0,5.55,0.00,0.3,77.85,2018-09-01 15
10,1,Newark Airport,EWR,1,0.00,N,4,2.50,0.0,0.5,0.00,0.00,0.3,3.30,2018-09-01 15
11,1,Newark Airport,EWR,3,0.00,N,4,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-09-01 15
12,1,Newark Airport,EWR,3,0.00,N,1,95.30,0.0,0.0,0.00,0.00,0.3,95.60,2018-09-01 15
13,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.0,10.00,0.00,0.3,90.30,2018-09-01 16
14,1,Newark Airport,EWR,1,0.00,N,1,126.00,0.0,0.0,15.00,0.00,0.3,141.30,2018-09-01 16
15,1,Newark Airport,EWR,4,27.10,N,2,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-09-01 17
16,1,Newark Airport,EWR,3,0.01,N,1,90.00,0.0,0.0,10.00,0.00,0.3,100.30,2018-09-01 20
17,1,Newark Airport,EWR,2,0.00,N,1,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-09-02 9
18,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.5,16.16,0.00,0.3,96.96,2018-09-02 9
19,1,Newark Airport,EWR,9,0.00,N,2,95.00,0.0,0.5,0.00,0.00,0.3,95.80,2018-09-02 10
20,1,Newark Airport,EWR,2,12.81,N,1,55.50,0.0,0.0,21.24,15.00,0.3,92.04,2018-09-02 11
21,1,Newark Airport,EWR,2,0.00,N,1,90.00,0.0,0.5,5.00,12.50,0.3,108.30,2018-09-02 12
22,1,Newark Airport,EWR,2,0.00,N,1,75.00,0.0,0.0,10.00,0.00,0.3,85.30,2018-09-02 12
23,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.0,12.00,0.00,0.3,97.30,2018-09-02 13
24,1,Newark Airport,EWR,2,20.10,N,1,28.00,0.0,0.0,5.65,0.00,0.3,33.95,2018-09-02 13
25,1,Newark Airport,EWR,3,0.00,N,1,89.00,0.0,0.5,17.96,0.00,0.3,107.76,2018-09-02 16
26,1,Newark Airport,EWR,1,12.53,N,1,34.50,0.0,0.5,7.06,0.00,0.3,42.36,2018-09-02 18
27,1,Newark Airport,EWR,1,0.00,N,1,79.00,0.0,0.5,15.96,0.00,0.3,100.71,2018-09-03 4
28,1,Newark Airport,EWR,1,0.40,N,1,90.00,0.0,0.0,15.00,0.00,0.3,105.30,2018-09-03 6
29,1,Newark Airport,EWR,1,0.00,N,1,5.00,0.0,0.5,0.00,0.00,0.3,5.80,2018-09-03 9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8040103,265,NaN,NaN,1,0.00,N,1,150.00,0.0,0.0,0.00,0.00,0.3,150.30,2018-09-30 21
8040104,265,NaN,NaN,1,0.83,N,1,68.00,0.0,0.5,11.12,0.00,0.3,79.92,2018-09-30 21
8040105,265,NaN,NaN,2,0.00,N,3,-129.00,0.0,-0.5,0.00,0.00,-0.3,-129.80,2018-09-30 21
8040106,265,NaN,NaN,2,0.00,N,2,129.00,0.0,0.5,0.00,0.00,0.3,129.80,2018-09-30 21
8040107,265,NaN,NaN,1,0.00,N,1,200.00,0.0,0.5,50.00,0.00,0.3,250.80,2018-09-30 21
8040108,265,NaN,NaN,4,0.00,N,1,148.00,0.0,0.0,29.66,0.00,0.3,177.96,2018-09-30 21
8040109,265,NaN,NaN,2,6.08,N,1,120.00,0.0,0.5,24.16,0.00,0.3,144.96,2018-09-30 21
8040110,265,NaN,NaN,1,3.20,N,3,0.00,0.0,0.0,0.00,10.50,0.3,10.80,2018-09-30 21
8040111,265,NaN,NaN,1,0.50,N,3,0.00,0.0,0.0,0.00,10.50,0.3,10.80,2018-09-30 21
8040112,265,NaN,NaN,1,0.00,N,4,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-09-30 21
8040113,265,NaN,NaN,1,0.00,N,3,100.00,0.0,0.0,0.00,10.50,0.3,110.80,2018-09-30 21
8040114,265,NaN,NaN,1,0.00,N,1,218.00,0.0,0.5,43.76,0.00,0.3,262.56,2018-09-30 21
8040115,265,NaN,NaN,1,0.02,N,1,65.00,0.0,0.0,10.00,10.50,0.3,85.80,2018-09-30 21
8040116,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.0,11.11,0.00,0.3,111.41,2018-09-30 21
8040117,265,NaN,NaN,1,21.40,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-09-30 21
8040118,265,NaN,NaN,1,0.00,N,3,0.01,0.0,0.0,0.00,0.00,0.3,0.31,2018-09-30 22
8040119,265,NaN,NaN,1,0.00,N,1,68.00,0.0,0.0,13.66,0.00,0.3,81.96,2018-09-30 22
8040120,265,NaN,NaN,1,0.00,N,1,93.00,0.0,0.0,15.00,0.00,0.3,108.30,2018-09-30 22
8040121,265,NaN,NaN,0,0.00,N,1,173.76,0.0,0.0,0.00,0.00,0.3,174.06,2018-09-30 22
8040122,265,NaN,NaN,1,0.00,N,1,90.00,0.0,0.0,18.05,0.00,0.3,108.35,2018-09-30 22
8040123,265,NaN,NaN,2,1.00,N,1,55.00,0.0,0.0,2.00,0.00,0.3,57.30,2018-09-30 22
8040124,265,NaN,NaN,1,0.00,N,1,52.25,0.0,0.0,10.00,10.50,0.3,73.05,2018-09-30 22
8040125,265,NaN,NaN,4,8.11,N,2,42.00,0.0,0.5,0.00,15.00,0.3,57.80,2018-09-30 22
8040126,265,NaN,NaN,1,0.03,N,1,20.00,0.0,0.5,0.02,0.00,0.3,20.82,2018-09-30 22
8040127,265,NaN,NaN,1,0.00,N,1,188.00,0.0,0.0,38.80,5.76,0.3,232.86,2018-09-30 22
8040128,265,NaN,NaN,1,0.00,N,1,385.00,0.0,0.0,15.00,0.00,0.3,400.30,2018-09-30 22
8040129,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.0,5.00,10.50,0.3,115.80,2018-09-30 22
8040130,265,NaN,NaN,4,0.00,N,1,40.00,0.0,0.5,0.00,10.50,0.3,51.30,2018-09-30 22
8040131,265,NaN,NaN,1,0.00,N,1,325.00,0.0,0.5,20.00,0.00,0.3,345.80,2018-09-30 22
8040132,265,NaN,NaN,0,0.00,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-09-30 23

In [8]:
df_September['CabRequest']=1
summaries8 = df_September.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries8)
summaries8.to_csv('Combined_September2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-09-01 4  Boro Zone              1         16.30
                        2018-09-01 5  Boro Zone              1         26.30
                        2018-09-02 16 Boro Zone              1         15.80
                        2018-09-02 21 Boro Zone              1         13.57
                        2018-09-03 23 Boro Zone              1         55.30
                        2018-09-04 13 Boro Zone              1         14.30
                        2018-09-05 10 Boro Zone              1         67.56
                        2018-09-05 11 Boro Zone              1         69.56
                        2018-09-05 13 Boro Zone              1         36.56
                        2018-09-05 14 Boro Zone              1          5.80
                        2018-09-05 15 Boro Zone              1         53.06
                        2018-09-05 17 Boro Zone              1         75.53
                        2018-09-05 18 Boro Zone              1         18.80
                        2018-09-06 16 Boro Zone              1         67.58
                        2018-09-06 17 Boro Zone              1          8.80
                        2018-09-06 8  Boro Zone              1         23.64
                        2018-09-07 13 Boro Zone              1         10.80
                        2018-09-08 10 Boro Zone              1          8.80
                        2018-09-08 14 Boro Zone              1         13.30
                        2018-09-08 9  Boro Zone              1         49.80
                        2018-09-09 10 Boro Zone              1          9.30
                        2018-09-09 14 Boro Zone              1         11.80
                        2018-09-09 15 Boro Zone              1         57.56
                        2018-09-09 9  Boro Zone              1         12.80
                        2018-09-10 13 Boro Zone              1          7.80
                        2018-09-10 7  Boro Zone              1         45.06
                        2018-09-11 10 Boro Zone              1         55.84
                        2018-09-11 14 Boro Zone              1         13.80
                        2018-09-12 12 Boro Zone              1         67.56
                        2018-09-12 3  Boro Zone              1         18.30
...                                                        ...           ...
Yorkville West          2018-09-29 5  Yellow Zone           30        611.04
                        2018-09-29 6  Yellow Zone           84       1374.53
                        2018-09-29 7  Yellow Zone          142       1972.53
                        2018-09-29 8  Yellow Zone          203       2516.31
                        2018-09-29 9  Yellow Zone          317       3683.96
                        2018-09-30 0  Yellow Zone          211       2633.71
                        2018-09-30 1  Yellow Zone          166       2417.66
                        2018-09-30 10 Yellow Zone          330       3896.84
                        2018-09-30 11 Yellow Zone          344       4004.80
                        2018-09-30 12 Yellow Zone          368       4423.88
                        2018-09-30 13 Yellow Zone          356       4326.15
                        2018-09-30 14 Yellow Zone          323       4034.78
                        2018-09-30 15 Yellow Zone          303       3658.46
                        2018-09-30 16 Yellow Zone          306       3847.58
                        2018-09-30 17 Yellow Zone          305       3937.56
                        2018-09-30 18 Yellow Zone          291       3573.53
                        2018-09-30 19 Yellow Zone          280       3368.77
                        2018-09-30 2  Yellow Zone          124       1516.83
                        2018-09-30 20 Yellow Zone          210       2648.54
                        2018-09-30 21 Yellow Zone          171       1997.07
                        2018-09-30 22 Yellow Zone          139       1703.81
                        2018-09-30 23 Yellow Zone           79        992.70
                        2018-09-30 3  Yellow Zone           69        784.57
                        2018-09-30 4  Yellow Zone           49        623.69
                        2018-09-30 5  Yellow Zone           35        532.34
                        2018-09-30 6  Yellow Zone           80       1298.28
                        2018-09-30 7  Yellow Zone          101       1421.25
                        2018-09-30 8  Yellow Zone          152       1914.98
                        2018-09-30 9  Yellow Zone          220       2664.33
                        2018-12-29 3  Yellow Zone            1          9.96

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-09-01 4  Boro Zone           0.00
                        2018-09-01 5  Boro Zone           0.00
                        2018-09-02 16 Boro Zone           0.00
                        2018-09-02 21 Boro Zone           1.77
                        2018-09-03 23 Boro Zone           0.00
                        2018-09-04 13 Boro Zone           0.00
                        2018-09-05 10 Boro Zone           0.00
                        2018-09-05 11 Boro Zone           0.00
                        2018-09-05 13 Boro Zone           0.00
                        2018-09-05 14 Boro Zone           0.00
                        2018-09-05 15 Boro Zone           0.00
                        2018-09-05 17 Boro Zone          12.59
                        2018-09-05 18 Boro Zone           0.00
                        2018-09-06 16 Boro Zone          13.52
                        2018-09-06 17 Boro Zone           0.00
                        2018-09-06 8  Boro Zone           0.00
                        2018-09-07 13 Boro Zone           0.00
                        2018-09-08 10 Boro Zone           0.00
                        2018-09-08 14 Boro Zone           0.00
                        2018-09-08 9  Boro Zone           0.00
                        2018-09-09 10 Boro Zone           0.00
                        2018-09-09 14 Boro Zone           0.00
                        2018-09-09 15 Boro Zone           0.00
                        2018-09-09 9  Boro Zone           0.00
                        2018-09-10 13 Boro Zone           0.00
                        2018-09-10 7  Boro Zone           0.00
                        2018-09-11 10 Boro Zone           7.28
                        2018-09-11 14 Boro Zone           0.00
                        2018-09-12 12 Boro Zone           0.00
                        2018-09-12 3  Boro Zone           0.00
...                                                        ...
Yorkville West          2018-09-29 5  Yellow Zone        67.24
                        2018-09-29 6  Yellow Zone       190.23
                        2018-09-29 7  Yellow Zone       241.09
                        2018-09-29 8  Yellow Zone       313.33
                        2018-09-29 9  Yellow Zone       427.92
                        2018-09-30 0  Yellow Zone       309.41
                        2018-09-30 1  Yellow Zone       266.68
                        2018-09-30 10 Yellow Zone       476.60
                        2018-09-30 11 Yellow Zone       526.80
                        2018-09-30 12 Yellow Zone       537.72
                        2018-09-30 13 Yellow Zone       531.99
                        2018-09-30 14 Yellow Zone       487.57
                        2018-09-30 15 Yellow Zone       465.76
                        2018-09-30 16 Yellow Zone       480.66
                        2018-09-30 17 Yellow Zone       463.01
                        2018-09-30 18 Yellow Zone       420.29
                        2018-09-30 19 Yellow Zone       378.43
                        2018-09-30 2  Yellow Zone       182.07
                        2018-09-30 20 Yellow Zone       306.57
                        2018-09-30 21 Yellow Zone       241.27
                        2018-09-30 22 Yellow Zone       169.39
                        2018-09-30 23 Yellow Zone        79.10
                        2018-09-30 3  Yellow Zone        80.37
                        2018-09-30 4  Yellow Zone        68.02
                        2018-09-30 5  Yellow Zone        44.82
                        2018-09-30 6  Yellow Zone       156.46
                        2018-09-30 7  Yellow Zone       175.63
                        2018-09-30 8  Yellow Zone       233.13
                        2018-09-30 9  Yellow Zone       340.83
                        2018-12-29 3  Yellow Zone         1.66

[94244 rows x 3 columns]

In [14]:
tp9 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-10.csv', iterator=True, chunksize=1000)
df10= pd.concat(tp9, ignore_index=True)

In [10]:
df_Octuber=pd.merge(df_lookup,df10, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [11]:
df_Octuber['Time'] = pd.to_datetime(df_Octuber.tpep_pickup_datetime)
df_Octuber['hour']= df_Octuber.Time.dt.hour
df_Octuber['date']= df_Octuber.Time.dt.date
df_Octuber['PickupTime']= df_Octuber['date'].map(str) +" " +df_Octuber['hour'].map(str)

In [12]:
df_Octuber.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,4,0.00,N,1,66.00,0.0,0.0,0.00,0.00,0.3,66.30,2018-10-01 4
1,1,Newark Airport,EWR,2,0.06,N,1,150.00,0.0,0.0,34.11,20.26,0.3,204.67,2018-10-01 5
2,1,Newark Airport,EWR,1,0.00,N,1,121.00,0.0,0.5,0.00,0.00,0.3,121.80,2018-10-01 5
3,1,Newark Airport,EWR,1,0.00,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-10-01 6
4,1,Newark Airport,EWR,2,0.00,N,1,97.00,0.0,0.5,22.06,12.50,0.3,132.36,2018-10-01 7
5,1,Newark Airport,EWR,1,0.00,N,1,70.00,0.0,0.0,2.00,0.00,0.3,72.30,2018-10-01 8
6,1,Newark Airport,EWR,1,0.15,N,1,100.00,0.0,0.0,25.08,0.00,0.3,125.38,2018-10-01 8
7,1,Newark Airport,EWR,2,0.00,N,1,75.00,0.0,0.0,10.00,17.50,0.3,102.80,2018-10-01 9
8,1,Newark Airport,EWR,1,0.00,N,1,115.30,0.0,0.5,23.22,0.00,0.3,139.32,2018-10-01 9
9,1,Newark Airport,EWR,1,14.60,N,1,2.50,0.0,0.5,23.40,90.36,0.3,117.06,2018-10-01 10
10,1,Newark Airport,EWR,2,0.00,N,1,80.00,0.0,0.0,10.00,0.00,0.3,90.30,2018-10-01 11
11,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.5,0.00,0.00,0.3,95.80,2018-10-01 11
12,1,Newark Airport,EWR,5,31.27,N,1,105.00,0.0,0.0,23.16,10.50,0.3,138.96,2018-10-01 13
13,1,Newark Airport,EWR,1,0.00,N,1,80.00,0.0,0.5,0.00,0.00,0.3,80.80,2018-10-01 13
14,1,Newark Airport,EWR,2,18.35,N,1,49.00,0.0,0.5,11.11,5.76,0.3,66.67,2018-10-01 13
15,1,Newark Airport,EWR,1,13.50,N,2,39.50,0.0,0.5,0.00,10.50,0.3,50.80,2018-10-01 14
16,1,Newark Airport,EWR,1,0.00,N,1,75.00,0.0,0.0,15.00,20.00,0.3,110.30,2018-10-01 14
17,1,Newark Airport,EWR,0,18.00,N,1,2.50,0.0,0.5,12.70,0.00,0.3,16.00,2018-10-01 14
18,1,Newark Airport,EWR,1,0.80,N,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-10-01 15
19,1,Newark Airport,EWR,1,0.00,N,1,75.00,0.0,0.5,10.00,10.50,0.3,96.30,2018-10-01 15
20,1,Newark Airport,EWR,1,0.00,N,1,70.00,0.0,0.0,14.05,0.00,0.3,84.35,2018-10-01 16
21,1,Newark Airport,EWR,2,0.10,N,1,118.00,0.0,0.0,23.65,0.00,0.3,141.95,2018-10-01 16
22,1,Newark Airport,EWR,1,0.00,N,1,95.00,0.0,0.0,0.00,0.00,0.3,95.30,2018-10-01 17
23,1,Newark Airport,EWR,1,20.40,Y,3,74.00,0.0,0.0,0.00,15.95,0.3,90.25,2018-10-01 18
24,1,Newark Airport,EWR,2,0.00,N,1,92.00,0.0,0.0,18.45,0.00,0.3,110.75,2018-10-01 19
25,1,Newark Airport,EWR,3,0.00,N,1,85.00,0.0,0.5,19.26,10.50,0.3,115.56,2018-10-01 20
26,1,Newark Airport,EWR,2,0.30,N,1,118.00,0.0,0.0,10.00,0.00,0.3,128.30,2018-10-01 20
27,1,Newark Airport,EWR,3,12.75,N,1,54.50,0.5,0.0,13.96,14.50,0.3,83.76,2018-10-02 5
28,1,Newark Airport,EWR,1,0.00,N,1,87.00,0.0,0.0,10.00,0.00,0.3,97.30,2018-10-02 5
29,1,Newark Airport,EWR,1,0.00,N,1,88.00,0.0,0.0,17.66,0.00,0.3,105.96,2018-10-02 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8821075,265,NaN,NaN,3,0.50,N,3,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-10-31 19
8821076,265,NaN,NaN,1,0.10,N,2,128.00,0.0,0.0,0.00,24.02,0.3,152.32,2018-10-31 19
8821077,265,NaN,NaN,1,0.00,N,1,35.00,0.0,0.0,0.00,0.00,0.3,35.30,2018-10-31 19
8821078,265,NaN,NaN,1,0.02,N,1,127.00,0.0,0.0,15.00,18.26,0.3,160.56,2018-10-31 19
8821079,265,NaN,NaN,1,0.00,N,2,2.50,1.0,0.5,0.00,0.00,0.3,4.30,2018-10-31 19
8821080,265,NaN,NaN,1,0.00,N,2,2.50,1.0,0.5,0.00,0.00,0.3,4.30,2018-10-31 19
8821081,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,0.00,0.00,0.0,50.00,2018-10-31 19
8821082,265,NaN,NaN,1,0.00,N,1,52.00,4.5,0.5,0.00,0.00,0.3,57.30,2018-10-31 19
8821083,265,NaN,NaN,0,0.00,N,3,2.50,0.5,0.5,0.00,0.00,0.3,3.80,2018-10-31 20
8821084,265,NaN,NaN,1,2.07,N,1,85.00,0.0,0.5,17.16,0.00,0.3,102.96,2018-10-31 20
8821085,265,NaN,NaN,4,0.00,N,1,65.00,0.0,0.0,0.00,10.50,0.3,75.80,2018-10-31 21
8821086,265,NaN,NaN,1,0.00,N,1,170.00,0.0,0.0,20.00,0.00,0.3,190.30,2018-10-31 19
8821087,265,NaN,NaN,1,0.00,N,1,95.00,0.0,0.0,19.05,0.00,0.3,114.35,2018-10-31 21
8821088,265,NaN,NaN,1,0.00,N,3,83.70,0.0,0.0,0.00,0.00,0.3,84.00,2018-10-31 21
8821089,265,NaN,NaN,1,0.00,Y,2,0.00,0.0,0.0,0.00,0.00,0.3,0.30,2018-10-31 21
8821090,265,NaN,NaN,1,0.30,N,3,3.00,0.5,0.5,0.00,0.00,0.3,4.30,2018-10-31 21
8821091,265,NaN,NaN,1,2.69,N,1,80.00,0.0,0.0,22.70,10.50,0.3,113.50,2018-10-31 21
8821092,265,NaN,NaN,1,2.39,N,1,40.00,0.0,0.0,0.00,10.50,0.3,50.80,2018-10-31 22
8821093,265,NaN,NaN,1,0.00,N,1,96.00,0.0,0.0,15.00,5.76,0.3,117.06,2018-10-31 22
8821094,265,NaN,NaN,2,1.20,N,1,60.00,0.0,0.5,12.16,0.00,0.3,72.96,2018-10-31 22
8821095,265,NaN,NaN,1,0.00,N,1,150.00,0.0,0.5,0.00,19.01,0.3,169.81,2018-10-31 22
8821096,265,NaN,NaN,1,6.80,N,1,100.00,0.0,0.0,15.00,0.00,0.3,115.30,2018-10-31 23
8821097,265,NaN,NaN,2,17.60,N,1,115.00,0.0,0.0,23.05,0.00,0.3,138.35,2018-10-31 23
8821098,265,NaN,NaN,1,0.00,N,3,-1.26,0.0,-0.5,0.00,0.00,-0.3,-2.06,2018-10-31 23
8821099,265,NaN,NaN,1,0.00,N,2,1.26,0.0,0.5,0.00,0.00,0.3,2.06,2018-10-31 23
8821100,265,NaN,NaN,1,0.00,N,1,126.00,0.0,0.5,25.36,0.00,0.3,152.16,2018-10-31 23
8821101,265,NaN,NaN,1,0.00,N,1,130.00,0.0,0.0,0.00,0.00,0.3,130.30,2018-10-31 23
8821102,265,NaN,NaN,1,49.40,N,1,252.00,0.0,0.0,80.19,15.00,0.3,347.49,2018-10-31 23
8821103,265,NaN,NaN,2,0.00,N,1,370.00,0.0,0.5,0.00,0.00,0.3,370.80,2018-10-31 23
8821104,265,NaN,NaN,1,0.39,N,1,5.50,0.5,0.5,1.36,0.00,0.3,8.16,2018-10-31 23

In [13]:
df_Octuber['CabRequest']=1
summaries9 = df_Octuber.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries9)
summaries9.to_csv('Combined_Octuber2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-10-01 1  Boro Zone              1         13.80
                        2018-10-01 10 Boro Zone              1         45.56
                        2018-10-01 11 Boro Zone              1         18.30
                        2018-10-01 17 Boro Zone              1          8.97
                        2018-10-01 21 Boro Zone              1         41.88
                        2018-10-02 11 Boro Zone              1         35.54
                        2018-10-02 14 Boro Zone              1         23.80
                        2018-10-02 15 Boro Zone              2         77.24
                        2018-10-02 21 Boro Zone              1         14.80
                        2018-10-02 8  Boro Zone              1         13.57
                        2018-10-03 10 Boro Zone              2         84.36
                        2018-10-03 12 Boro Zone              1         11.80
                        2018-10-03 9  Boro Zone              1         30.30
                        2018-10-04 11 Boro Zone              1         26.80
                        2018-10-04 7  Boro Zone              1         37.30
                        2018-10-04 8  Boro Zone              1         24.02
                        2018-10-05 12 Boro Zone              1         10.80
                        2018-10-05 14 Boro Zone              1         39.80
                        2018-10-05 7  Boro Zone              2         70.10
                        2018-10-06 20 Boro Zone              1         54.80
                        2018-10-06 22 Boro Zone              1         49.80
                        2018-10-06 23 Boro Zone              1         83.63
                        2018-10-07 10 Boro Zone              1          7.80
                        2018-10-07 13 Boro Zone              1         46.30
                        2018-10-07 16 Boro Zone              1         56.99
                        2018-10-08 10 Boro Zone              1         14.80
                        2018-10-08 6  Boro Zone              1         47.06
                        2018-10-08 8  Boro Zone              1          9.30
                        2018-10-09 11 Boro Zone              1         13.00
                        2018-10-09 13 Boro Zone              2         62.86
...                                                        ...           ...
Yorkville West          2018-10-30 8  Yellow Zone          339       4888.17
                        2018-10-30 9  Yellow Zone          325       4724.23
                        2018-10-31 0  Yellow Zone           54        632.29
                        2018-10-31 1  Yellow Zone           37        445.83
                        2018-10-31 10 Yellow Zone          277       3551.93
                        2018-10-31 11 Yellow Zone          272       3155.39
                        2018-10-31 12 Yellow Zone          269       3103.27
                        2018-10-31 13 Yellow Zone          240       2836.37
                        2018-10-31 14 Yellow Zone          285       3558.36
                        2018-10-31 15 Yellow Zone          260       2895.37
                        2018-10-31 16 Yellow Zone          256       2981.49
                        2018-10-31 17 Yellow Zone          339       4272.62
                        2018-10-31 18 Yellow Zone          304       3661.64
                        2018-10-31 19 Yellow Zone          344       4015.98
                        2018-10-31 2  Yellow Zone           32        444.78
                        2018-10-31 20 Yellow Zone          314       3607.83
                        2018-10-31 21 Yellow Zone          279       3400.06
                        2018-10-31 22 Yellow Zone          196       2391.64
                        2018-10-31 23 Yellow Zone          151       1776.04
                        2018-10-31 3  Yellow Zone           18        280.61
                        2018-10-31 4  Yellow Zone           20        325.26
                        2018-10-31 5  Yellow Zone           74       1087.27
                        2018-10-31 6  Yellow Zone          203       2452.05
                        2018-10-31 7  Yellow Zone          367       4795.03
                        2018-10-31 8  Yellow Zone          374       5331.90
                        2018-10-31 9  Yellow Zone          349       4516.79
                        2018-11-01 13 Yellow Zone            1         11.30
                        2018-11-05 19 Yellow Zone            1          6.30
                        2018-11-05 20 Yellow Zone            1         23.16
                        2018-11-16 15 Yellow Zone            1          9.30

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-10-01 1  Boro Zone           1.50
                        2018-10-01 10 Boro Zone           0.00
                        2018-10-01 11 Boro Zone           0.00
                        2018-10-01 17 Boro Zone           1.17
                        2018-10-01 21 Boro Zone           0.00
                        2018-10-02 11 Boro Zone           0.00
                        2018-10-02 14 Boro Zone           0.00
                        2018-10-02 15 Boro Zone           0.00
                        2018-10-02 21 Boro Zone           0.00
                        2018-10-02 8  Boro Zone           1.77
                        2018-10-03 10 Boro Zone           0.00
                        2018-10-03 12 Boro Zone           0.00
                        2018-10-03 9  Boro Zone           0.00
                        2018-10-04 11 Boro Zone           3.50
                        2018-10-04 7  Boro Zone           0.00
                        2018-10-04 8  Boro Zone           0.00
                        2018-10-05 12 Boro Zone           0.00
                        2018-10-05 14 Boro Zone           0.00
                        2018-10-05 7  Boro Zone           0.00
                        2018-10-06 20 Boro Zone           0.00
                        2018-10-06 22 Boro Zone           0.00
                        2018-10-06 23 Boro Zone          10.91
                        2018-10-07 10 Boro Zone           0.00
                        2018-10-07 13 Boro Zone           0.00
                        2018-10-07 16 Boro Zone           7.43
                        2018-10-08 10 Boro Zone           0.00
                        2018-10-08 6  Boro Zone           0.00
                        2018-10-08 8  Boro Zone           0.00
                        2018-10-09 11 Boro Zone           1.70
                        2018-10-09 13 Boro Zone           0.00
...                                                        ...
Yorkville West          2018-10-30 8  Yellow Zone       612.78
                        2018-10-30 9  Yellow Zone       567.66
                        2018-10-31 0  Yellow Zone        72.59
                        2018-10-31 1  Yellow Zone        42.33
                        2018-10-31 10 Yellow Zone       414.81
                        2018-10-31 11 Yellow Zone       355.49
                        2018-10-31 12 Yellow Zone       341.51
                        2018-10-31 13 Yellow Zone       306.48
                        2018-10-31 14 Yellow Zone       338.31
                        2018-10-31 15 Yellow Zone       324.66
                        2018-10-31 16 Yellow Zone       354.20
                        2018-10-31 17 Yellow Zone       484.86
                        2018-10-31 18 Yellow Zone       381.92
                        2018-10-31 19 Yellow Zone       476.41
                        2018-10-31 2  Yellow Zone        51.68
                        2018-10-31 20 Yellow Zone       467.81
                        2018-10-31 21 Yellow Zone       429.39
                        2018-10-31 22 Yellow Zone       285.39
                        2018-10-31 23 Yellow Zone       197.72
                        2018-10-31 3  Yellow Zone        35.45
                        2018-10-31 4  Yellow Zone        35.22
                        2018-10-31 5  Yellow Zone       113.56
                        2018-10-31 6  Yellow Zone       319.88
                        2018-10-31 7  Yellow Zone       599.23
                        2018-10-31 8  Yellow Zone       707.82
                        2018-10-31 9  Yellow Zone       539.30
                        2018-11-01 13 Yellow Zone         0.00
                        2018-11-05 19 Yellow Zone         0.00
                        2018-11-05 20 Yellow Zone         3.86
                        2018-11-16 15 Yellow Zone         0.00

[100110 rows x 3 columns]

In [18]:
tp10 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-11.csv', iterator=True, chunksize=1000)
df11= pd.concat(tp10, ignore_index=True)

In [16]:
df_November=pd.merge(df_lookup,df11, how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [20]:
df_November['Time'] = pd.to_datetime(df_November.tpep_pickup_datetime)
df_November['hour']= df_November.Time.dt.hour
df_November['date']= df_November.Time.dt.date
df_November['PickupTime']= df_November['date'].map(str) +" " +df_November['hour'].map(str)

In [21]:
df_November.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,1.31,N,1,10.00,0.5,0.5,2.83,0.00,0.3,14.13,2018-11-01 0
1,1,Newark Airport,EWR,3,0.00,N,1,92.00,0.0,0.5,11.00,10.50,0.3,114.30,2018-11-01 4
2,1,Newark Airport,EWR,9,0.23,N,1,96.00,0.0,0.5,19.36,0.00,0.3,116.16,2018-11-01 4
3,1,Newark Airport,EWR,2,0.00,N,1,84.80,0.0,0.0,0.00,0.00,0.3,85.10,2018-11-01 6
4,1,Newark Airport,EWR,1,0.00,N,1,108.00,0.0,0.5,21.76,0.00,0.3,130.56,2018-11-01 12
5,1,Newark Airport,EWR,1,0.00,N,1,52.00,0.0,0.5,48.00,0.00,0.3,100.80,2018-11-01 13
6,1,Newark Airport,EWR,1,16.40,N,1,90.00,0.0,0.0,5.00,0.00,0.3,95.30,2018-11-01 13
7,1,Newark Airport,EWR,1,0.00,N,1,2.50,0.0,0.5,13.00,0.00,0.3,16.30,2018-11-01 14
8,1,Newark Airport,EWR,1,0.00,N,1,79.00,0.0,0.0,19.56,18.50,0.3,117.36,2018-11-01 14
9,1,Newark Airport,EWR,3,0.00,N,2,100.00,0.0,0.5,0.00,0.00,0.3,100.80,2018-11-01 15
10,1,Newark Airport,EWR,0,0.00,N,1,95.00,0.0,0.5,19.16,0.00,0.3,114.96,2018-11-01 15
11,1,Newark Airport,EWR,1,0.30,N,1,95.00,0.0,0.0,12.00,0.00,0.3,107.30,2018-11-01 16
12,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.0,20.06,15.00,0.3,120.36,2018-11-01 16
13,1,Newark Airport,EWR,1,0.00,N,1,24.00,0.0,0.0,0.00,0.00,0.3,24.30,2018-11-01 17
14,1,Newark Airport,EWR,4,0.00,N,1,90.00,0.0,0.0,0.00,0.00,0.3,90.30,2018-11-01 17
15,1,Newark Airport,EWR,0,20.90,N,3,2.50,1.0,0.5,0.00,0.00,0.3,4.30,2018-11-01 18
16,1,Newark Airport,EWR,1,20.90,N,1,100.95,0.0,0.0,0.00,0.00,0.3,101.25,2018-11-01 18
17,1,Newark Airport,EWR,1,0.00,N,1,10.00,0.0,0.0,0.00,0.00,0.3,10.30,2018-11-01 18
18,1,Newark Airport,EWR,1,0.00,N,1,100.00,0.0,0.0,0.00,0.00,0.3,100.30,2018-11-01 19
19,1,Newark Airport,EWR,1,0.00,N,1,85.00,0.0,0.5,19.66,12.50,0.3,117.96,2018-11-01 19
20,1,Newark Airport,EWR,1,0.00,N,1,60.00,0.0,0.5,0.00,0.00,0.3,60.80,2018-11-01 19
21,1,Newark Airport,EWR,1,0.00,N,1,127.34,0.0,0.0,25.53,0.00,0.3,153.17,2018-11-01 19
22,1,Newark Airport,EWR,2,0.04,N,3,-3.00,-1.0,-0.5,0.00,0.00,-0.3,-4.80,2018-11-01 19
23,1,Newark Airport,EWR,2,0.04,N,2,3.00,1.0,0.5,0.00,0.00,0.3,4.80,2018-11-01 19
24,1,Newark Airport,EWR,4,0.00,N,1,97.00,0.0,0.0,22.96,17.50,0.3,137.76,2018-11-01 19
25,1,Newark Airport,EWR,1,0.00,N,1,2.50,0.5,0.5,16.00,0.00,0.3,19.80,2018-11-01 21
26,1,Newark Airport,EWR,1,0.00,N,1,89.50,0.0,0.5,18.06,0.00,0.3,108.36,2018-11-01 23
27,1,Newark Airport,EWR,1,1.61,N,2,7.50,0.5,0.5,0.00,0.00,0.3,8.80,2018-11-02 0
28,1,Newark Airport,EWR,0,0.00,N,1,120.00,0.0,0.0,0.00,0.00,0.3,120.30,2018-11-02 4
29,1,Newark Airport,EWR,1,0.00,N,1,87.00,0.0,0.0,17.46,0.00,0.3,104.76,2018-11-02 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8145134,265,NaN,NaN,1,0.00,N,1,90.00,0.0,0.5,22.70,0.00,0.3,113.50,2018-11-30 21
8145135,265,NaN,NaN,1,0.00,N,1,140.00,0.0,0.0,35.08,0.00,0.3,175.38,2018-11-30 21
8145136,265,NaN,NaN,1,0.00,N,1,52.00,0.0,0.5,5.50,0.00,0.3,58.30,2018-11-30 22
8145137,265,NaN,NaN,1,0.00,N,1,180.00,0.0,0.0,20.00,5.76,0.3,206.06,2018-11-30 22
8145138,265,NaN,NaN,3,1.20,N,1,7.00,0.5,0.5,1.00,0.00,0.3,9.30,2018-11-30 22
8145139,265,NaN,NaN,1,3.80,N,1,13.00,0.5,0.5,1.43,0.00,0.3,15.73,2018-11-30 22
8145140,265,NaN,NaN,1,5.40,N,1,21.00,0.5,0.5,4.45,0.00,0.3,26.75,2018-11-30 22
8145141,265,NaN,NaN,2,1.32,N,2,7.00,0.5,0.5,0.00,0.00,0.3,8.30,2018-11-30 22
8145142,265,NaN,NaN,3,3.90,N,1,55.00,0.0,0.0,13.15,10.50,0.3,78.95,2018-11-30 22
8145143,265,NaN,NaN,1,1.14,N,1,6.00,0.5,0.5,1.46,0.00,0.3,8.76,2018-11-30 22
8145144,265,NaN,NaN,2,0.00,N,1,65.00,0.0,0.5,0.00,0.00,0.3,65.80,2018-11-30 22
8145145,265,NaN,NaN,1,0.00,N,1,50.00,0.0,0.0,0.00,0.00,0.3,50.30,2018-11-30 22
8145146,265,NaN,NaN,6,0.03,N,1,20.00,0.5,0.0,0.00,10.50,0.3,31.30,2018-11-30 22
8145147,265,NaN,NaN,2,1.36,N,1,65.00,0.0,0.0,7.00,0.00,0.3,72.30,2018-11-30 22
8145148,265,NaN,NaN,1,20.15,N,1,52.00,0.0,0.5,5.00,5.76,0.3,63.56,2018-11-30 23
8145149,265,NaN,NaN,1,0.00,N,1,75.00,0.0,0.0,15.05,0.00,0.3,90.35,2018-11-30 23
8145150,265,NaN,NaN,1,0.00,N,1,60.00,0.0,0.0,0.00,0.00,0.3,60.30,2018-11-30 23
8145151,265,NaN,NaN,1,1.40,N,1,7.50,0.5,0.5,1.75,0.00,0.3,10.55,2018-11-30 23
8145152,265,NaN,NaN,2,4.20,N,1,18.50,0.5,0.5,3.95,0.00,0.3,23.75,2018-11-30 23
8145153,265,NaN,NaN,1,3.20,N,1,13.00,0.5,0.5,2.85,0.00,0.3,17.15,2018-11-30 23
8145154,265,NaN,NaN,1,0.00,N,1,75.00,0.0,0.0,15.05,0.00,0.3,90.35,2018-11-30 23
8145155,265,NaN,NaN,1,0.00,N,1,60.00,0.0,0.0,18.09,0.00,0.3,78.39,2018-11-30 23
8145156,265,NaN,NaN,2,0.51,N,1,48.00,0.0,0.0,11.76,10.50,0.3,70.56,2018-11-30 23
8145157,265,NaN,NaN,2,0.00,N,1,50.00,0.0,0.5,12.26,10.50,0.3,73.56,2018-11-30 23
8145158,265,NaN,NaN,2,2.73,N,1,45.00,0.0,0.0,12.06,15.00,0.3,72.36,2018-11-30 23
8145159,265,NaN,NaN,2,0.00,N,1,67.00,0.0,0.0,10.09,0.00,0.3,77.39,2018-11-30 23
8145160,265,NaN,NaN,1,0.01,N,1,50.00,0.0,0.0,10.06,0.00,0.3,60.36,2018-11-30 23
8145161,265,NaN,NaN,1,0.00,N,1,100.00,0.0,0.5,0.00,5.76,0.3,106.56,2018-11-30 23
8145162,265,NaN,NaN,1,0.00,N,1,116.00,0.0,0.0,20.00,16.26,0.3,152.56,2018-11-30 23
8145163,265,NaN,NaN,1,0.00,N,1,65.00,0.0,0.0,0.00,0.00,0.3,65.30,2018-11-30 23

In [22]:
df_November['CabRequest']=1
summaries10 = df_November.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries10)
summaries10.to_csv('Combined_November2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-11-01 10 Boro Zone              1          9.30
                        2018-11-01 12 Boro Zone              1         20.30
                        2018-11-01 13 Boro Zone              1         13.30
                        2018-11-01 14 Boro Zone              1         53.97
                        2018-11-01 7  Boro Zone              2        120.12
                        2018-11-01 8  Boro Zone              1         13.00
                        2018-11-01 9  Boro Zone              2        135.00
                        2018-11-02 11 Boro Zone              1         36.30
                        2018-11-02 14 Boro Zone              1         28.30
                        2018-11-02 15 Boro Zone              2         76.74
                        2018-11-02 18 Boro Zone              1         68.30
                        2018-11-02 7  Boro Zone              1         34.30
                        2018-11-02 8  Boro Zone              1         11.85
                        2018-11-02 9  Boro Zone              1         39.30
                        2018-11-03 17 Boro Zone              1         21.80
                        2018-11-03 18 Boro Zone              1         53.06
                        2018-11-03 9  Boro Zone              1          5.80
                        2018-11-04 1  Boro Zone              1          4.30
                        2018-11-04 10 Boro Zone              1          8.30
                        2018-11-04 14 Boro Zone              1          5.80
                        2018-11-04 19 Boro Zone              1         23.80
                        2018-11-04 23 Boro Zone              1         77.22
                        2018-11-04 7  Boro Zone              1         40.80
                        2018-11-04 8  Boro Zone              1         17.02
                        2018-11-05 10 Boro Zone              1          6.30
                        2018-11-05 11 Boro Zone              2         17.42
                        2018-11-05 13 Boro Zone              1          9.30
                        2018-11-05 15 Boro Zone              1         27.06
                        2018-11-05 19 Boro Zone              1         11.85
                        2018-11-05 9  Boro Zone              1        109.34
...                                                        ...           ...
Yorkville West          2018-11-29 5  Yellow Zone           68       1195.81
                        2018-11-29 6  Yellow Zone          220       2827.61
                        2018-11-29 7  Yellow Zone          353       4629.85
                        2018-11-29 8  Yellow Zone          350       5351.47
                        2018-11-29 9  Yellow Zone          333       4621.02
                        2018-11-30 0  Yellow Zone          102       1603.60
                        2018-11-30 1  Yellow Zone           69        799.32
                        2018-11-30 10 Yellow Zone          297       3645.64
                        2018-11-30 11 Yellow Zone          304       3985.15
                        2018-11-30 12 Yellow Zone          241       2872.86
                        2018-11-30 13 Yellow Zone          275       3445.99
                        2018-11-30 14 Yellow Zone          306       3567.67
                        2018-11-30 15 Yellow Zone          312       4065.98
                        2018-11-30 16 Yellow Zone          308       3730.18
                        2018-11-30 17 Yellow Zone          387       4901.78
                        2018-11-30 18 Yellow Zone          444       5971.92
                        2018-11-30 19 Yellow Zone          419       5483.90
                        2018-11-30 2  Yellow Zone           42        598.54
                        2018-11-30 20 Yellow Zone          295       3783.35
                        2018-11-30 21 Yellow Zone          303       3539.77
                        2018-11-30 22 Yellow Zone          286       3379.53
                        2018-11-30 23 Yellow Zone          289       3819.13
                        2018-11-30 3  Yellow Zone           31        400.61
                        2018-11-30 4  Yellow Zone           37        597.60
                        2018-11-30 5  Yellow Zone           97       1563.12
                        2018-11-30 6  Yellow Zone          197       2726.08
                        2018-11-30 7  Yellow Zone          356       4632.43
                        2018-11-30 8  Yellow Zone          390       5651.75
                        2018-11-30 9  Yellow Zone          362       5008.87
                        2018-12-01 0  Yellow Zone            1         14.30

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-11-01 10 Boro Zone           0.00
                        2018-11-01 12 Boro Zone           0.00
                        2018-11-01 13 Boro Zone           0.00
                        2018-11-01 14 Boro Zone           4.46
                        2018-11-01 7  Boro Zone           0.00
                        2018-11-01 8  Boro Zone           1.70
                        2018-11-01 9  Boro Zone           0.00
                        2018-11-02 11 Boro Zone           0.00
                        2018-11-02 14 Boro Zone           0.00
                        2018-11-02 15 Boro Zone           0.00
                        2018-11-02 18 Boro Zone           0.00
                        2018-11-02 7  Boro Zone           0.00
                        2018-11-02 8  Boro Zone           1.55
                        2018-11-02 9  Boro Zone           0.00
                        2018-11-03 17 Boro Zone           0.00
                        2018-11-03 18 Boro Zone           0.00
                        2018-11-03 9  Boro Zone           0.00
                        2018-11-04 1  Boro Zone           0.00
                        2018-11-04 10 Boro Zone           0.00
                        2018-11-04 14 Boro Zone           0.00
                        2018-11-04 19 Boro Zone           0.00
                        2018-11-04 23 Boro Zone           0.00
                        2018-11-04 7  Boro Zone           0.00
                        2018-11-04 8  Boro Zone           2.22
                        2018-11-05 10 Boro Zone           0.00
                        2018-11-05 11 Boro Zone           1.32
                        2018-11-05 13 Boro Zone           0.00
                        2018-11-05 15 Boro Zone           0.00
                        2018-11-05 19 Boro Zone           1.55
                        2018-11-05 9  Boro Zone          14.26
...                                                        ...
Yorkville West          2018-11-29 5  Yellow Zone       155.31
                        2018-11-29 6  Yellow Zone       365.56
                        2018-11-29 7  Yellow Zone       588.21
                        2018-11-29 8  Yellow Zone       692.04
                        2018-11-29 9  Yellow Zone       603.08
                        2018-11-30 0  Yellow Zone       157.72
                        2018-11-30 1  Yellow Zone        85.62
                        2018-11-30 10 Yellow Zone       447.15
                        2018-11-30 11 Yellow Zone       461.09
                        2018-11-30 12 Yellow Zone       332.64
                        2018-11-30 13 Yellow Zone       381.01
                        2018-11-30 14 Yellow Zone       434.09
                        2018-11-30 15 Yellow Zone       430.95
                        2018-11-30 16 Yellow Zone       401.89
                        2018-11-30 17 Yellow Zone       550.24
                        2018-11-30 18 Yellow Zone       715.03
                        2018-11-30 19 Yellow Zone       649.50
                        2018-11-30 2  Yellow Zone        96.38
                        2018-11-30 20 Yellow Zone       449.05
                        2018-11-30 21 Yellow Zone       417.52
                        2018-11-30 22 Yellow Zone       393.83
                        2018-11-30 23 Yellow Zone       469.19
                        2018-11-30 3  Yellow Zone        42.05
                        2018-11-30 4  Yellow Zone        74.70
                        2018-11-30 5  Yellow Zone       194.97
                        2018-11-30 6  Yellow Zone       357.62
                        2018-11-30 7  Yellow Zone       600.42
                        2018-11-30 8  Yellow Zone       713.79
                        2018-11-30 9  Yellow Zone       609.89
                        2018-12-01 0  Yellow Zone         3.00

[98200 rows x 3 columns]

In [3]:
tp11 = pd.read_csv('C:/Users/kelvi/taxi/yellow_tripdata_2018-12.csv', iterator=True, chunksize=1000)
df12= pd.concat(tp11, ignore_index=True)

In [4]:
df_December=pd.merge(df_lookup,df12,how='inner', left_on=['LocationID'], right_on=['PULocationID'])

In [5]:
df_December['Time'] = pd.to_datetime(df_December.tpep_pickup_datetime)
df_December['hour']= df_December.Time.dt.hour
df_December['date']= df_December.Time.dt.date
df_December['PickupTime']= df_December['date'].map(str) +" " +df_December['hour'].map(str)

In [6]:
df_December.drop(['date','hour','Time','VendorID','RatecodeID','Borough','tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID'] ,axis='columns')

,LocationID,Zone,service_zone,passenger_count,trip_distance,store_and_fwd_flag,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,PickupTime
0,1,Newark Airport,EWR,1,0.07,N,1,98.0,0.0,0.5,19.76,0.00,0.3,118.56,2018-12-01 6
1,1,Newark Airport,EWR,1,0.00,N,1,85.0,0.0,0.0,17.05,0.00,0.3,102.35,2018-12-01 8
2,1,Newark Airport,EWR,1,0.00,N,1,96.0,0.0,0.0,15.00,0.00,0.3,111.30,2018-12-01 10
3,1,Newark Airport,EWR,2,0.00,N,1,75.0,0.0,0.0,18.45,17.00,0.3,110.75,2018-12-01 13
4,1,Newark Airport,EWR,1,0.00,N,1,110.0,0.0,0.0,22.06,0.00,0.3,132.36,2018-12-01 14
5,1,Newark Airport,EWR,0,9.40,N,1,98.0,0.0,0.0,22.15,12.50,0.3,132.95,2018-12-01 15
6,1,Newark Airport,EWR,2,0.00,N,1,90.0,0.0,0.0,0.00,0.00,0.3,90.30,2018-12-01 14
7,1,Newark Airport,EWR,6,0.00,N,3,-100.0,0.0,0.0,0.00,-31.32,-0.3,-131.62,2018-12-01 16
8,1,Newark Airport,EWR,6,0.00,N,2,100.0,0.0,0.0,0.00,31.32,0.3,131.62,2018-12-01 16
9,1,Newark Airport,EWR,1,0.06,N,2,52.0,0.0,0.5,0.00,0.00,0.3,52.80,2018-12-01 17
10,1,Newark Airport,EWR,1,13.27,N,2,55.5,0.0,0.0,0.00,12.50,0.3,68.30,2018-12-01 17
11,1,Newark Airport,EWR,5,0.00,N,1,105.0,0.0,0.5,21.16,0.00,0.3,126.96,2018-12-01 17
12,1,Newark Airport,EWR,1,0.80,N,1,85.0,0.0,0.0,19.85,14.00,0.3,119.15,2018-12-01 18
13,1,Newark Airport,EWR,2,0.00,N,1,119.0,0.0,0.0,10.00,0.00,0.0,129.00,2018-12-01 18
14,1,Newark Airport,EWR,1,24.00,N,1,100.0,0.0,0.0,13.00,0.00,0.3,113.30,2018-12-01 19
15,1,Newark Airport,EWR,3,0.00,N,1,137.5,0.0,0.0,27.56,0.00,0.3,165.36,2018-12-01 19
16,1,Newark Airport,EWR,1,0.00,N,1,100.0,0.0,0.5,20.16,0.00,0.3,120.96,2018-12-01 20
17,1,Newark Airport,EWR,1,0.00,N,2,100.0,0.0,0.5,0.00,0.00,0.3,100.80,2018-12-01 21
18,1,Newark Airport,EWR,1,26.39,N,2,70.5,0.5,0.5,0.00,10.50,0.3,82.30,2018-12-02 5
19,1,Newark Airport,EWR,1,0.00,N,1,95.0,0.0,0.0,0.00,0.00,0.3,95.30,2018-12-02 7
20,1,Newark Airport,EWR,2,0.02,N,1,90.0,0.0,0.5,0.00,10.50,0.3,101.30,2018-12-02 7
21,1,Newark Airport,EWR,2,0.01,N,1,100.0,0.0,0.5,35.19,16.50,0.3,152.49,2018-12-02 9
22,1,Newark Airport,EWR,2,0.00,N,1,80.0,0.0,0.0,10.00,0.00,0.3,90.30,2018-12-02 10
23,1,Newark Airport,EWR,1,0.00,N,1,80.0,0.0,0.0,0.00,0.00,0.3,80.30,2018-12-02 10
24,1,Newark Airport,EWR,1,0.00,N,1,98.0,0.0,0.5,11.50,0.00,0.3,110.30,2018-12-02 12
25,1,Newark Airport,EWR,2,1.00,N,1,77.0,0.0,0.0,19.00,17.70,0.3,114.00,2018-12-02 12
26,1,Newark Airport,EWR,4,0.00,N,1,95.0,0.0,0.0,0.00,0.00,0.3,95.30,2018-12-02 12
27,1,Newark Airport,EWR,1,0.00,N,1,100.0,0.0,0.0,20.06,0.00,0.3,120.36,2018-12-02 12
28,1,Newark Airport,EWR,1,0.06,N,3,-95.0,0.0,0.0,0.00,-18.67,-0.3,-113.97,2018-12-02 12
29,1,Newark Airport,EWR,1,0.06,N,2,95.0,0.0,0.0,0.00,18.67,0.3,113.97,2018-12-02 12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8173201,265,NaN,NaN,1,0.64,N,1,5.5,0.5,0.5,1.36,0.00,0.3,8.16,2018-12-31 20
8173202,265,NaN,NaN,1,1.83,N,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30,2018-12-31 20
8173203,265,NaN,NaN,1,0.00,N,1,48.0,0.0,0.0,9.66,0.00,0.3,57.96,2018-12-31 20
8173204,265,NaN,NaN,1,9.40,N,1,80.8,0.0,0.0,1.00,0.00,0.3,82.10,2018-12-31 20
8173205,265,NaN,NaN,1,0.00,N,1,47.4,0.0,0.0,2.00,10.50,0.3,60.20,2018-12-31 20
8173206,265,NaN,NaN,1,8.08,N,2,25.5,0.5,0.5,0.00,0.00,0.3,26.80,2018-12-31 20
8173207,265,NaN,NaN,1,1.84,N,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30,2018-12-31 20
8173208,265,NaN,NaN,1,0.00,N,1,84.0,0.0,0.0,0.00,0.00,0.3,84.30,2018-12-31 21
8173209,265,NaN,NaN,1,0.00,N,1,35.0,0.0,0.0,13.70,10.50,0.3,59.50,2018-12-31 21
8173210,265,NaN,NaN,1,0.72,N,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56,2018-12-31 21
8173211,265,NaN,NaN,1,1.77,N,1,7.5,0.5,0.5,1.76,0.00,0.3,10.56,2018-12-31 21
8173212,265,NaN,NaN,1,1.34,N,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30,2018-12-31 21
8173213,265,NaN,NaN,1,4.41,N,2,19.5,0.5,0.5,0.00,0.00,0.3,20.80,2018-12-31 21
8173214,265,NaN,NaN,1,0.00,N,1,65.0,0.0,0.5,5.00,10.50,0.3,81.30,2018-12-31 21
8173215,265,NaN,NaN,1,0.00,N,1,25.0,0.0,0.5,6.45,0.00,0.3,32.25,2018-12-31 21
8173216,265,NaN,NaN,1,0.00,N,1,52.0,0.0,0.5,10.55,0.00,0.3,63.35,2018-12-31 22
8173217,265,NaN,NaN,1,0.00,N,1,136.0,0.0,0.0,5.00,0.00,0.3,141.30,2018-12-31 22
8173218,265,NaN,NaN,2,0.00,N,1,90.0,0.0,0.0,0.00,0.00,0.3,90.30,2018-12-31 22
8173219,265,NaN,NaN,1,3.60,N,2,12.5,0.5,0.5,0.00,0.00,0.3,13.80,2018-12-31 22
8173220,265,NaN,NaN,1,0.00,N,1,50.0,0.0,0.0,5.00,0.00,0.3,55.30,2018-12-31 22
8173221,265,NaN,NaN,4,0.00,N,1,170.0,0.0,0.0,42.58,0.00,0.3,212.88,2018-12-31 22
8173222,265,NaN,NaN,1,0.00,N,1,65.0,0.0,0.0,13.06,0.00,0.3,78.36,2018-12-31 23
8173223,265,NaN,NaN,5,0.00,N,1,52.0,0.0,0.0,10.46,0.00,0.3,62.76,2018-12-31 23
8173224,265,NaN,NaN,1,0.18,N,1,100.0,0.0,0.5,0.00,0.00,0.3,100.80,2018-12-31 23
8173225,265,NaN,NaN,2,0.00,N,1,2.5,0.5,0.5,38.00,0.00,0.3,41.80,2018-12-31 23
8173226,265,NaN,NaN,4,0.00,N,1,200.0,0.0,0.0,0.00,18.00,0.3,218.30,2018-12-31 23
8173227,265,NaN,NaN,1,15.80,N,2,0.0,0.0,0.0,0.00,0.00,0.3,0.30,2018-12-31 23
8173228,265,NaN,NaN,1,15.80,N,1,52.0,0.0,0.0,2.00,0.00,0.3,54.30,2018-12-31 23
8173229,265,NaN,NaN,3,0.00,N,3,-260.0,0.0,0.0,0.00,0.00,-0.3,-260.30,2018-12-31 23
8173230,265,NaN,NaN,3,0.00,N,2,260.0,0.0,0.0,0.00,0.00,0.3,260.30,2018-12-31 23

In [7]:
df_December['CabRequest']=1
summaries11 = df_December.groupby(['Zone','PickupTime','service_zone']).agg({'CabRequest': 'sum',
                                 'total_amount': 'sum',
                                 'tip_amount': 'sum'})
print(summaries11)
summaries11.to_csv('Combined_December2018.csv')

                                                    CabRequest  total_amount  \
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-12-01 10 Boro Zone              1         21.80
                        2018-12-01 3  Boro Zone              1         78.27
                        2018-12-02 12 Boro Zone              1          7.82
                        2018-12-02 13 Boro Zone              1         38.13
                        2018-12-02 14 Boro Zone              1         21.75
                        2018-12-02 3  Boro Zone              1         80.57
                        2018-12-02 8  Boro Zone              1         23.31
                        2018-12-03 10 Boro Zone              1          8.30
                        2018-12-03 11 Boro Zone              2         28.60
                        2018-12-03 13 Boro Zone              1         12.30
                        2018-12-03 15 Boro Zone              2         67.36
                        2018-12-03 16 Boro Zone              1          6.80
                        2018-12-03 17 Boro Zone              1         51.06
                        2018-12-03 8  Boro Zone              1          9.55
                        2018-12-04 11 Boro Zone              1         29.30
                        2018-12-04 12 Boro Zone              1         52.06
                        2018-12-04 15 Boro Zone              1         16.80
                        2018-12-04 19 Boro Zone              1         45.06
                        2018-12-04 9  Boro Zone              2         56.60
                        2018-12-05 13 Boro Zone              1         37.96
                        2018-12-05 14 Boro Zone              2         78.36
                        2018-12-05 17 Boro Zone              1         28.80
                        2018-12-05 7  Boro Zone              1         56.56
                        2018-12-06 10 Boro Zone              1         22.30
                        2018-12-06 12 Boro Zone              1         44.46
                        2018-12-06 13 Boro Zone              1         15.30
                        2018-12-06 14 Boro Zone              1         15.80
                        2018-12-06 15 Boro Zone              1         10.12
                        2018-12-06 7  Boro Zone              1         58.56
                        2018-12-07 11 Boro Zone              2         44.50
...                                                        ...           ...
Yorkville West          2018-12-30 4  Yellow Zone           52        720.86
                        2018-12-30 5  Yellow Zone           35        662.96
                        2018-12-30 6  Yellow Zone           47        685.98
                        2018-12-30 7  Yellow Zone           77       1008.10
                        2018-12-30 8  Yellow Zone           97       1384.75
                        2018-12-30 9  Yellow Zone          156       1685.00
                        2018-12-31 0  Yellow Zone           76        833.07
                        2018-12-31 1  Yellow Zone           59        793.77
                        2018-12-31 10 Yellow Zone          223       2139.67
                        2018-12-31 11 Yellow Zone          220       2265.19
                        2018-12-31 12 Yellow Zone          251       2603.31
                        2018-12-31 13 Yellow Zone          291       3050.57
                        2018-12-31 14 Yellow Zone          344       3379.75
                        2018-12-31 15 Yellow Zone          294       2877.03
                        2018-12-31 16 Yellow Zone          311       3352.17
                        2018-12-31 17 Yellow Zone          311       3768.76
                        2018-12-31 18 Yellow Zone          398       4917.98
                        2018-12-31 19 Yellow Zone          485       5839.50
                        2018-12-31 2  Yellow Zone           43        524.86
                        2018-12-31 20 Yellow Zone          460       5713.44
                        2018-12-31 21 Yellow Zone          439       5419.46
                        2018-12-31 22 Yellow Zone          314       3616.94
                        2018-12-31 23 Yellow Zone          211       2488.89
                        2018-12-31 3  Yellow Zone           25        332.85
                        2018-12-31 4  Yellow Zone           26        372.83
                        2018-12-31 5  Yellow Zone           39        581.33
                        2018-12-31 6  Yellow Zone           89       1054.26
                        2018-12-31 7  Yellow Zone          116       1479.20
                        2018-12-31 8  Yellow Zone          178       1917.41
                        2018-12-31 9  Yellow Zone          184       2021.69

                                                    tip_amount
Zone                    PickupTime    service_zone
Allerton/Pelham Gardens 2018-12-01 10 Boro Zone           0.00
                        2018-12-01 3  Boro Zone          10.21
                        2018-12-02 12 Boro Zone           1.02
                        2018-12-02 13 Boro Zone           0.00
                        2018-12-02 14 Boro Zone           0.00
                        2018-12-02 3  Boro Zone          10.51
                        2018-12-02 8  Boro Zone           0.00
                        2018-12-03 10 Boro Zone           0.00
                        2018-12-03 11 Boro Zone           0.00
                        2018-12-03 13 Boro Zone           0.00
                        2018-12-03 15 Boro Zone           0.00
                        2018-12-03 16 Boro Zone           0.00
                        2018-12-03 17 Boro Zone           0.00
                        2018-12-03 8  Boro Zone           1.25
                        2018-12-04 11 Boro Zone           0.00
                        2018-12-04 12 Boro Zone           0.00
                        2018-12-04 15 Boro Zone           0.00
                        2018-12-04 19 Boro Zone           0.00
                        2018-12-04 9  Boro Zone           0.00
                        2018-12-05 13 Boro Zone           0.00
                        2018-12-05 14 Boro Zone           0.00
                        2018-12-05 17 Boro Zone           0.00
                        2018-12-05 7  Boro Zone           0.00
                        2018-12-06 10 Boro Zone           0.00
                        2018-12-06 12 Boro Zone           0.00
                        2018-12-06 13 Boro Zone           0.00
                        2018-12-06 14 Boro Zone           0.00
                        2018-12-06 15 Boro Zone           1.32
                        2018-12-06 7  Boro Zone           0.00
                        2018-12-07 11 Boro Zone           4.40
...                                                        ...
Yorkville West          2018-12-30 4  Yellow Zone        46.73
                        2018-12-30 5  Yellow Zone        67.69
                        2018-12-30 6  Yellow Zone        72.10
                        2018-12-30 7  Yellow Zone       118.99
                        2018-12-30 8  Yellow Zone       135.57
                        2018-12-30 9  Yellow Zone       165.51
                        2018-12-31 0  Yellow Zone        77.77
                        2018-12-31 1  Yellow Zone        74.57
                        2018-12-31 10 Yellow Zone       237.25
                        2018-12-31 11 Yellow Zone       257.72
                        2018-12-31 12 Yellow Zone       300.97
                        2018-12-31 13 Yellow Zone       310.69
                        2018-12-31 14 Yellow Zone       388.39
                        2018-12-31 15 Yellow Zone       340.28
                        2018-12-31 16 Yellow Zone       449.21
                        2018-12-31 17 Yellow Zone       430.29
                        2018-12-31 18 Yellow Zone       592.41
                        2018-12-31 19 Yellow Zone       725.09
                        2018-12-31 2  Yellow Zone        47.51
                        2018-12-31 20 Yellow Zone       685.16
                        2018-12-31 21 Yellow Zone       656.18
                        2018-12-31 22 Yellow Zone       384.63
                        2018-12-31 23 Yellow Zone       232.79
                        2018-12-31 3  Yellow Zone        25.59
                        2018-12-31 4  Yellow Zone        14.32
                        2018-12-31 5  Yellow Zone        62.93
                        2018-12-31 6  Yellow Zone       143.02
                        2018-12-31 7  Yellow Zone       188.84
                        2018-12-31 8  Yellow Zone       222.04
                        2018-12-31 9  Yellow Zone       224.60

[102633 rows x 3 columns]

# Summary

A dataset having the trip data of NewYork yellow taxis was chosen as a part of this project. The dataset has 12 excel sheets having data of each month's trip data. The dataset was divided into chunks as the dataset is very big. Each chunk was being read at a time. The lookup dataset has the data regarding the service_zone and zones where the cabs are active. Each month's dataset was merged with lookup dataset. A merged dsataset for each month is being considered . The merged dataset of each month is again merged to a single dataset and a final merged dataset is used for further analysis